ul
  li
    a(rel='next' href='/terms-and-conditions') Terms and Conditions
  li
    a(rel='next' href='/privacy-policy') Privacy Policy
  li
    a(rel='next' href='/faqs') FAQs
  li
    a(rel='external' href='https://static.mlh.io/docs/mlh-code-of-conduct.pdf') MLH Code of Conduct
small © #{moment().year()} Hack Cambridge. All rights reserved.
