header(color=headerColor layout=layoutMode grid='grid' rows='2.5')
  img(columns='3.0' draggable='false' src=asset('images/logo.svg') alt='Hack Cambridge Logo')
  div(columns='5.5')
    h1
      | Hack Cambridge
      br
      span.pixel 4D
      