# These owners will be the default owners for everything in the repo.
* @hackcambridge/owners

# Front-end
assets/* @hackcambridge/frontend
src/js/client/* @hackcambridge/frontend
src/styles/* @hackcambridge/frontend

# Shared
src/js/shared/* @hackcambridge/frontend @hackcambridge/owners
src/resources/* @hackcambridge/frontend @hackcambridge/owners
