extends base
block content
  - layoutMode = 'a4'
  include ../mixins/svg-elements
  include ../includes/header
  main(layout=layoutMode)
    nav(color='blue' grid='grid' rows='0.5' columns='2.0')
      h3(rows='1.0' columns='all') 
        if user
          | Hey #{user.firstName}!
        else
          | Log in for more
      include ../includes/navigation
    block mainContent
  footer(grid='rows' layout=layoutMode rows='2.0')
    div
      include ../includes/footer
