{% extends 'base.html' %}
{% from "macros/svg-elements.html" import singleColourIcon as singleColourIcon %}
{% from "macros/svg-elements.html" import sponsorLogo as sponsorLogo %}
{% set title = 'Ternary' %}
{% set description = 'Hack Cambridge Ternary 2018' %}
{% set keywords = 'hack,Cambridge,ternary 2018' %}
{% block content %}
{% set layoutMode = "width" %}
{% set eventPage = "index" %}
{% include 'header.html' %}
<main>
    <section>
        <div class="container {{ layoutMode }}">
            <div class="three unit row">
                <div class="unit column grows">
                    <h1>Welcome!</h1>
                </div>
            </div>
        </div>
    </section>
    {% include 'event/nav.html' %}
    <section>
        <div class="container {{ layoutMode }}">
            <div class="two unit row">
                <div class="unit column grows">
                    <h3>Food</h3>
                </div>
            </div>
            <div class="four unit row">
                <div class="seven unit column">
                    <p>
                        Take heart: according to feedback from previous years, Hack Cambridge has excellent food!
                    </p>
                    <p>
                        Saturday lunch, midnight pizza, and breakfast and lunch on Sunday are all provided, plus plenty of snacks and drinks throughout to keep you going. We literally cater for everyone's dietary requirements, so there'll definitely be food for you.
                    </p>
                    <a href="/event/location">Find out where meals and snacks are served in the maps</a>
                    <a href="/event/schedule">Find out when meals are served in the schedule</a>
                </div>
            </div>
        </div>
    </section>   
    <section class="red">
        <div class="container {{ layoutMode }}">
            <div class="two unit row">
                <div class="unit column grows">
                    <h3>Emergencies</h3>
                </div>
            </div>
            <div class="two unit row">
                <div class="unit column grows">
                    <h5>
                        In an emergency, <strong>call 112</strong>.
                    </h5>
                    <h5><a href="tel:112">Call 112 now!</a></h5>
                </div>
            </div>
            <div class="two half unit row">
                <div class="unit column grows">
                    <h5>
                        If you need to leave the building,<br>do so quickly by the nearest fire exit, and<br>do not take anything with you.
                    </h5>
                </div>
            </div>
        </div>
    </section> 
</main>
<footer>
    <div class="container {{ layoutMode }}">
        <div class="three unit row">
            <div class="unit column grows">
                {% include 'footer.html' %}
            </div>
        </div>
    </div>
</footer>
{% endblock %}
