{% extends 'base.html' %}
{% from "macros/svg-elements.html" import singleColourIcon as singleColourIcon %}
{% from "macros/svg-elements.html" import sponsorLogo as sponsorLogo %}
{% set title = 'Ternary' %}
{% set description = 'Hack Cambridge Ternary 2018' %}
{% set keywords = 'hack,Cambridge,ternary 2018' %}
{% block content %}
{% set layoutMode = "width" %}
{% set eventPage = "location" %}
{% include 'header.html' %}
<main>
    {% include 'event/nav.html' %}
    <section>
        <div class="container {{ layoutMode }}">
            <div class="three unit row">
                <div class="unit column grows">
                    <h1>Where to?</h1>
                </div>
            </div>
        </div>
    </section>
    <section class="black">
        <div class="container {{ layoutMode }}">
            <div class="two unit row">
                <div class="unit column grows">
                    <h3>Maps</h3>
                </div>
            </div>
            <div class="unit row">
                <div class="six unit column">
                    <img draggable="false" src="{{ asset('images/maps/general-map.svg') }}" />
                </div>
                <div class="six unit column">
                    <img draggable="false" src="{{ asset('images/maps/corn-exchange.svg') }}" />
                </div>
                <div class="six unit column">
                    <img draggable="false" src="{{ asset('images/maps/guildhall.svg') }}" />
                </div>
                <div class="six unit column">
                    <img draggable="false" src="{{ asset('images/maps/corn-exchange-main-hall.svg') }}" />
                </div>
            </div>
        </div>
    </section>
    <section>
        <div class="container {{ layoutMode }}">
            <div class="three half unit row">
                <div class="five unit column grows">
                    <div class="two unit row">
                        <div class="unit column grows">
                            <h3>Our venues</h3>
                        </div>
                    </div>
                    <div class="three unit row">
                        <div class="unit column grows">
                            <p>Hack Cambridge is held in the Corn Exchange, and the Guildhall across the street. The main event will take place in the Corn Exchange, and workshops, demos, food, and the sleeping area will all be in the Guildhall. In any case, the location of events is always indicated in the timetable.</p>
                            <p>The Guildhall is just a few minutes' walk from the Corn Exchange, and the route will be well-signposted. <br>Volunteers will also show the way for each of the meals and workshops.</p>
                        </div>
                    </div>
                </div>
                <div class="four unit column">
                    <div class="two unit row">
                        <div class="unit column grows">
                            <h3>Getting to the venue</h3>
                        </div>
                    </div>
                    <div class="two half unit row">
                        <div class="unit column grows">
                            <p>Information on how to get to the venue is on the dashboard.</p>
                            <a rel="next" href="/apply/dashboard">To the dashboard</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>
<footer>
    <div class="container {{ layoutMode }}">
        <div class="three unit row">
            <div class="unit column grows">
                {% include 'footer.html' %}
            </div>
        </div>
    </div>
</footer>
{% endblock %}
