{% extends 'base.html' %}
{% from "macros/svg-elements.html" import singleColourIcon as singleColourIcon %}
{% from "macros/svg-elements.html" import sponsorLogo as sponsorLogo %}
{% set title = 'Ternary' %}
{% set description = 'Hack Cambridge Ternary 2018' %}
{% set keywords = 'hack,Cambridge,ternary 2018' %}
{% block content %}
{% set layoutMode = "width" %}
{% set eventPage = "schedule" %}
{% include 'header.html' %}
<main>
    {% include 'event/nav.html' %}
    <section>
        <div class="container {{ layoutMode }}">
            <div class="three unit row">
                <div class="unit column grows">
                    <h1>Schedule</h1>
                </div>
            </div>
        </div>
    </section>
    <section class="black">
        <div class="container {{ layoutMode }}">
            <div class="unit row">
                <div class="seven unit column roll-up">
                    <div class="two unit row">
                        <div class="unit column grows">
                            <h3>Product Demos</h3>
                        </div>
                    </div>
                    <div class="two unit row">
                        <div class="unit column grows">
                            <p>These are shorter, tech-focussed talks. We will announce each talk on stage just before it begins.</p>
                        </div>
                    </div>
                    {% for demo in demos %}
                        <div class="two half unit row">
                            <div class="one unit column">
                                <h5 class="pixel">{{ demo.time.format('HH:mm') }}</h5>
                            </div>
                            <div class="unit column grows">
                                <div class="unit row">
                                    <div class="unit column grows">
                                        <h4>{{ demo.name }}<br><i>Guildhall</i></h4>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
                <div class="seven unit column roll-up">
                    <div class="two unit row">
                        <div class="unit column grows">
                            <h3>Workshops</h3>
                        </div>
                    </div>
                    <div class="two unit row">
                        <div class="unit column grows">
                            <p>These are longer, tech-focussed talks. We will announce each talk on stage just before it starts.</p>
                        </div>
                    </div>
                    {% for workshop in workshops %}
                        <div class="two half unit row expands">
                            <div class="one unit column">
                                <h5 class="pixel">{{ workshop.time.format('HH:mm') }}</h5>
                            </div>
                            <div class="unit column grows roll-up">
                                <div class="two half unit row">
                                    <div class="unit column grows">
                                        <h4>{{ workshop.name | safe }}<br><i>Guildhall</i></h4>
                                    </div>
                                </div>
                                {% if workshop.description %}
                                    <div class="{{ workshop.rows }} unit row">
                                        <div class="unit column grows">
                                            <p>{{ workshop.description | safe }}</p>
                                        </div>
                                    </div>
                                {% endif %}
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </section>
    <section>
        <div class="container {{ layoutMode }}">
            <div class="unit row">
                {% for item in schedule %}
                    <div class="seven unit column roll-up">
                        <div class="two unit row">
                            <div class="unit column grows">
                                <h3>{{ item.day | safe }}</h3>
                            </div>
                        </div>
                        {% for entry in item.entries %}
                            <div class="two unit row">
                                <div class="one unit column">
                                    <h5 class="pixel">{{ entry.time.format('HH:mm') }}</h5>
                                </div>
                                <div class="unit column grows">
                                    {% for event in entry.events %}
                                        <div class="two unit row">
                                            <div class="unit column grows">
                                                <h4>{{ event.name }}</h4>
                                            </div>
                                        </div>
                                        {% if event.subevents %}
                                            <div class="{{ event.rows | default('four') }} unit row">
                                                <div class="unit column grows">
                                                    {% for subevent in event.subevents %}
                                                        <p>{{ subevent.time.format('HH:mm') }}: {{ subevent.name }}</p>
                                                    {% endfor %}
                                                </div>
                                            </div>
                                        {% endif %}
                                    {% endfor %}
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                {% endfor %}
            </div>
        </div>
    </section>
</main>
<footer>
    <div class="container {{ layoutMode }}">
        <div class="three unit row">
            <div class="unit column grows">
                {% include 'footer.html' %}
            </div>
        </div>
    </div>
</footer>
{% endblock %}
