{% extends 'base.html' %}
{% block content %}
<header class="default-header">
  <div class="content-wrapper">
    <a class="header-link" href="/"><img src="{{ asset('images/logos/hc2017-logo-horizontal-color.svg') }}" /></a>
  </div>
</header>
<main class="default-main">
  <div class="content-wrapper">
    {% block pageContent %}
    {% endblock %}
  </div>
</main>
<footer class="default-footer">
  <div class="content-wrapper">
    <p>Copyright Hack Cambridge 2016, all rights reserved. <a href="/privacy">Privacy Policy</a>. <a href="/terms" target="_blank">Terms and Conditions</a>.</p>
  </div>
</footer>
{% endblock %}
