{% extends 'base.html' %}
{% block content %}
<header class="default-header">
  <div class="content-wrapper">
    <a class="header-link" href="/">{% include 'hackcambridge.svg' %}</a>
  </div>
</header>
<main class="default-main">
  <div class="content-wrapper">
    {% block pageContent %}
    {% endblock %}
  </div>
</main>
<footer class="default-footer">
  <div class="content-wrapper">
    <p>Copyright Hack Cambridge 2015, all rights reserved. <a href="/privacy">Privacy Policy</a>. <a href="http://static.mlh.io/docs/mlh-code-of-conduct.pdf" target="_blank">Code of Conduct</a>.</p>
  </div>
</footer>
{% endblock %}
