doctype html
head
  title Error!
  style.
    body {
      font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
      margin: 5vw;
    }
    pre {
      border: 1px solid rgb(235,51,0);
      padding: 10px;
      color: rgb(235,51,0);
    }
body
  h1 Unfortunately, an error occurred when loading the page you requested
  if message
    h2 This is the error that occurred:
    pre
      = message 
  else
    p We’re very sorry about this and are working on a fix!
