{% extends 'base.html' %}
{% block content %}
<section class="section-event-intro">
  <div class="content-wrapper">
    <img class="event-logo" src="{{ asset('images/logos/hc-logo-white-col.svg') }}" alt="Hack Cambridge" />
    <p>2016 Event Guide (Draft)<br />This page is subject to change without notice.</p>
    <nav class="event-nav">
      <a class="event-nav-button" href="#info">Info</a>
      <a class="event-nav-button" href="#schedule">Schedule</a>
      <a class="event-nav-button" href="#map">Map</a>
      <a class="event-nav-button" href="#prizes">Prizes</a>
    </nav>
  </div>
</section>

<section class="section-event-info" id="info">
  <div class="content-wrapper">
    <h1 class="grand-heading">General Information</h1>
    {{ markdownResource('info') }}
  </div>
</section>

<section class="section-event-map" id="map">
  <p>Click on the map to interact with it</p>
  <div class="event-map-container">
    <iframe src="https://mapsengine.google.com/map/u/3/embed?mid=zpSuCJ1FOACs.kxtoljjF0saI" width="640" height="480" class="event-map"></iframe>
  </div>
</section>

<section class="section-event-timetable" id="schedule">
  <div class="content-wrapper">
    <h2 class="grand-heading">Schedule</h2>

    {% macro render_schedule(day) %}
      <div class="event-timetable-schedule-day event-timetable-schedule-{{ day }}">
        <h3>{{ day | title }}</h3>
        {% for event in schedule[day] %}
        <div class="event-timetable-schedule-item{% if event.class %} {{ event.class }}{% endif %}">
          <div class="event-timetable-schedule-item-time">{{ event.time.format('HH:mm') }}</div>
          <div class="event-timetable-schedule-item-name">{{ event.event }}</div>
        </div>
        {% endfor %}
      </div>
    {% endmacro %}

    <div class="event-timetable-schedule">
      {{ render_schedule('saturday') }}
      {{ render_schedule('sunday') }}
    </div>

    <h2 class="grand-heading">Workshops</h2>
    <p>Workshops run on Saturday afternoon</p>
    {# Workshops #}
    {# General timetable #}
    <div class="event-timetable-workshops">
      {% for workshop in workshops %}
        <div class="event-workshop">
          <h3>{{ workshop.name }}</h3>
          <p class="event-workshop-location">Location: {{ workshop.location }}</p>
          <div class="event-workshop-time">
            {% if not workshop.time.isValid() %}
              TBA
            {% else %}
              {{ workshop.time.format('H:mm') }}
              <div class="event-workshop-decorator">until</div>
              {{ workshop.time.add(workshop.duration, 'minutes').format('H:mm') }}
            {% endif %}
          </div>
          {{ workshop.description }}

        </div>
      {% endfor %}
    </div>
    <p>More workshops to come!</p>
  </div>
</section>

<section class="section-event-prizes" id="prizes">
  <div class="content-wrapper">
    <h2 class="grand-heading">Prizes</h2>
    <div class="event-prizes-general">
    {% for prize in prizes.general %}
      <div class="event-prize-general">
        <h3>{{ prize.name }}</h3>
      </div>
    {% endfor %}
    </div>
    <h2 class="grand-heading">API Prizes</h2>
    <div class="event-prizes-api">
      {% for prize in prizes.api %}
      <div class="event-prize-api">
        <h3>{{ prize.name }}</h3>
        {{ prize.description }}
      </div>
      {% endfor %}
    </div>
    <p>More prizes to come!</p>
  </div>
</section>
{% endblock %}
