extends layouts/base
block content
  include mixins/svg-elements
  main(layout='width')
    section(grid='columns' color='blue')
      img(columns='9.0' draggable='false' src=asset('images/maps/corn-exchange-main-hall-expo.svg'))
