{% extends 'default.html' %}
{% set title = 'Privacy Policy | Hack Cambridge' %}
{% block pageContent %}
<h1>Privacy Policy</h1>
<p>We take the privacy of people very seriously. We will be asking applicants for some personal data, so we wanted to let you know what we are going to do with it.</p>
<p>There are couple of things you should know:</p>
<ul>
  <li>We wouldn’t be able to organize Hack Cambridge without the help from our sponsors. Sponsors, in exchange, will have access to the resumé you’ve submitted. They will use this for recruiting purposes (for example, to send you a job offer).</li>
  <li>However, we won’t be sharing anything else from your application with sponsors. So if you want to be reached by sponsors you should put your contact details in your resumé.</li>
  <li>The intellectual property created at our events will remain the sole property of those who created it.</li>
  <li>We will be taking lots of photos throughout the event, and publishing them. You may appear on some of these photos. We want to publish photos that puts everyone in a good light, but there may be some that you don’t like. If you see any of these photos published anywhere, let us know and we will aim to take it down. We can’t make any guarantees that we will be able to remove an image from existence, though.</li>
  <li>We will share anonymized data about your dietary requirements with people that will be helping us with catering.</li>
  <li>We will publish the names of the winners and the winning hacks. There may be some other content around this, such as videos of the winners presenting.</li>
  <li>We are using analytics services on our website, which place a 3rd party cookie in your browser. If you prefer not to be tracked, you should turn on Do Not Track or Incognito mode in your browser.</li>
</ul>
{% endblock %}
