{% extends 'default.html' %}
{% set title = 'Apply' %}
{% set homeLink = true %}
{% set footer = true %}
{% block pageHeading %}Apply to Hack Cambridge{% endblock %}
{% block introBanner %}
  <section color="blue" grid="rows">
    <a rows="0.5" href="/" rel="prev">Find out more about Hack Cambridge</a>
  </section>
{% endblock %}
{% block pageContent %}
  <div rows="0.5">
    To start or continue an application, log in with MyMLH.
  </div>
  <a href="/apply/form" rows="1.0">Log in with MyMLH</a>
{% endblock %}
