{% extends 'default.html' %}
{% from "macros/alerts.html" import banner as banner %}
{% set title = 'Apply' %}
{% set homeLink = true %}
{% set footer = true %}
{% block pageHeading %}Apply to Hack Cambridge{% endblock %}
{% block pageContent %}
<div class="one half unit row">
    <div class="unit column grows">
        <div>
            To start or continue an application, log in with MyMLH.
        </div>
    </div>
</div>
<div class="one half unit row">
    <div class="unit column grows">
        <a href="/apply/form">Log in with MyMLH</a>
    </div>
</div>
{% endblock %}
{% block extraSections %}
{{ banner("The clock is ticking…", "You have until the 9<sup>th</sup> December to complete your application!", "two half") }}
{% endblock %}