{% extends 'default.html' %}
{% set title = 'Apply' %}
{% set homeLink = true %}
{% set footer = true %}
{% block pageHeading %}Apply to Hack Cambridge{% endblock %}
{% block introBanner %}
    <section class="red">
        <div class="container a4">
            <div class="one half unit row">
                <div class="unit column grows">
                    <div>
                        <a href="../" rel="prev">Find out more about Hack Cambridge</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
{% block pageContent %}
<div class="one half unit row">
    <div class="unit column grows">
        <div>
            To start or continue an application, log in with MyMLH.
        </div>
    </div>
</div>
<div class="one half unit row">
    <div class="unit column grows">
        <a href="/apply/form">Log in with MyMLH</a>
    </div>
</div>
{% endblock %}