{% extends 'default.html' %}
{% set title = 'Team Application' %}
{% set footer = true %}
{% set no_page_content = true %}
{% block extraSections %}
<form class="team-form" method="POST" enctype="multipart/form-data">
  <section grid="rows">
    <h1 rows="1.0">
      Team Application
    </h1>
    <p rows="0.5">
      Enter your teammates’ application IDs to confirm your team.
    </p>
    <table rows="2.0">
      <tr>
        <th class="one unit">Member</th>
        <th>Application ID</th>
      </tr>
      <tr>
        <td>A</td>
        <td><span class="pixel">{{ applicationSlug }}</span></td>
      </tr>
      {{ formHtml|safe }}
    </table>
      <div rows="0.5">
        <button type="submit" class="button submit-button">Submit</button>
      </div>
      <p rows="0.5">
        You can do this later if you wish.
      </p>
      <a rows="0.5" href="dashboard">Back to the dashboard</a>
    </div>
  </section>
</form>
{% endblock %}
