/* ==========================================================================
   Apply Section
   ========================================================================== */
.dashboard-section {
  border-bottom: 2px solid darken($backgroundColor, 15%);
  padding: 10px;
  margin-bottom: 10px;
  text-align: left;
}
.logged-in {
  padding: 10px;
  background: transparentify($colorSecondary, 0.6);
  color: white;
  position: absolute;
  top:0;
  left:0;
  right:0;
  z-index: 10;
}
.status-message {
  display: inline-block;
  padding: 10px 20px;
  border-radius: 5px;
  text-align: center;
  margin-bottom: 15px;
}
.status-message.success {
  border: 2px solid $colorSuccess;
}
.status-message.warning {
  border: 2px solid $colorWarning;
}
.status-message.neutral {
  border: 2px solid $colorNeutral;
}
.status-message h2 {
  margin-bottom: 0;
}
.status-message span {
  color: $gray;
}
.application-slug {
  margin: 10px 0;
}

.application-slug code {
  border-radius: 5px;
  background-color: white;
  padding: 5px;
  overflow-wrap: break-word;
  font-family: monospace;
  color: $colorPrimary;
  border: 1px solid $grayLightest;
}

.team-form input {
  font-family: monospace;
}
.team-list {
  padding: 10px;
  margin-bottom: 0;
}