/* Variables
   ========================================================================== */

$fontFamily = 'effra', 'Effra', 'Gill Sans', 'Helvetica Neue', 'Roboto', 'Arial', sans-serif;

$punit = 20px;

$colorPrimary = #EA5143;
$colorSecondary = #0B292E;
$colorDark = #0B292E;
$colorPink = #c91a3d;
$textColor = #111;
$backgroundColor = #fafafa;

$logoColor1 = #FB8F58;
$logoColor2 = #DE0866;
$logoColor3 = #AC41EC;

$black = #000;

gray($amount) {
  return lighten($black, $amount);
}

$grayDarker = gray(15%);
$grayDark = gray(30%);
$gray = gray(50%);
$grayLight = gray(70%);
$grayLighter = gray(85%);
$grayLightest = gray(95%);
