warning-style() {
  display: inline-block;
  padding: 0 5px;
  border-radius: 2px;
  color: white;
}
span.warning {
  warning-style();
  background: $colorWarning;
}
span.success {
  warning-style();
  background: $colorSuccess
}
span.error {
  warning-style();
  background: $colorError
}
span.na {
  warning-style();
  background: $colorNeutral
}