// Variables
:root {
    // User-defined
    --unit: 57pt;
    --gutter: 13pt;
    --span: auto;
}

// Standard units
.one {
    --base: span 1;
}
.two {
    --base: span 2;
}
.three {
    --base: span 3;
}
.four {
    --base: span 4;
}
.five {
    --base: span 5;
}
.six {
    --base: span 6;
}
.seven {
    --base: span 7;
}
.eight {
    --base: span 8;
}
.nine {
    --base: span 9;
}
.ten {
    --base: span 10;
}
.eleven {
    --base: span 11;
}
.twelve {
    --base: span 12;
}
.thirteen {
    --base: span 13;
}
.fourteen {
    --base: span 14;
}

.column:not(.column *) {
    --columns: var(--base);
}
.row:not(.row *) {
    --rows: var(--base);
}

// Reset margins and padding
div {
    margin: 0;
    padding: 0;
}

// Containers
.container, .container > .column {
    display: grid;
}

header {
    padding-top: var(--unit);
}

section, header, footer {
    padding: calc(var(--unit) / 2) 0;
}

@media (max-width: 595pt) {
    
    .container.a4 {
        width: calc(484 / 595 * 100vw);
    }
}


@media (min-width: 595pt) {

    .columns {
        column-count: 2;
        column-gap: 24pt;
        column-fill: auto;
    }
    .columns.balance {
        column-fill: balance;
    }
    .container {
        margin: 0 var(--unit);
        grid-template-columns: repeat(auto-fit, 57pt);
        grid-gap: var(--unit);
    }
    .column {
        grid-template-rows: 57pt;
        grid-auto-rows: 35.8pt;
        grid-column: var(--columns);
    }
    .row {
        grid-row: var(--rows);
    }
}
