/* ==========================================================================
   Welcome Section
   ========================================================================== */

.landing-welcome-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;

  box-sizing: border-box;
  width: 100%;
  min-height: 100vh;
  padding: ($punit * 3) 0;

  background: desaturate(darken($colorPrimary, 50%), 25%);
  color: #fff;
  padding-top: 103px; /*Stop MLH logo from obscuring logo on mobile*/
}

.landing-welcome-content {
  @extend .content-wrapper-center;
  position: relative;
  z-index: 2;
}

.landing-welcome-dates {
  font-size: 1.2em;
  margin-bottom: 3em;
  opacity: 0.9;
}

.landing-welcome-logo {
  width: 100%;
  max-width: 400px;
  height: auto;
  margin-bottom: 2em;
}

.subscribe-form-output {
  padding-top: 10px;
  margin: 0;
}

.landing-welcome-subscribe-form {
  width: 100%;
  max-width: 400px;
}

.apply-link-container {
  margin-bottom: 0;
}

a.apply-link {
  display: inline-block;
  margin-bottom: 10px;
  padding: 6px 10px;
  border-radius: 3px;
  color: inherit;
  border: 2px solid currentColor;
  opacity: 1;
  transition-duration: 0.2s;
  transition-property: opacity transform;

  font-size: 1em;
  cursor: pointer;

  &:hover, &:focus {
    text-decoration: none;
    opacity: 0.7;
  }

  &:active {
    transform: scale(0.95);
  }
}

a.signin-link {
  color: #fff;
}


.landing-welcome-social-links {
  @extend .content-wrapper-center;
  margin-top: $punit;
  margin-bottom: $punit;
  
  ul {
    list-style: none;
    padding: 0;
  }

  li {
    margin: 0 0.8em;
    padding: 0;
    display: inline-block;
  }

  svg {
    width: 24px;
    fill: #FFFFFF;
    vertical-align: bottom;
    opacity: 1;
    left: 0;
    bottom: 0;
    -webkit-transform: translate3d(0,0,0); // fixes flickering image on safari
    transition: opacity 0.2s;
  }
  
  p {
    font-size: 0.9em;
    opacity: 0.9;
  }

  a {
    color: #fff;
    text-decoration: none;
    position: relative;
    font-weight: bolder;

    transition: opacity 0.2s;

    &:hover {
      color: #fff;
      text-decoration: underline;

      svg {
        opacity: 0.8;
      }

      .social-link-text {
        text-decoration: underline;
      }
    }
  }

  @media only screen and (min-height: 700px) {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 0px;
  }
}

.landing-welcome-background {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
}

.landing-welcome-background-box1 {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 50%;
  width: 90vh;
  squareify();
  background: desaturate(darken($colorPrimary, 30%), 20%);
  --diamond-scale: 1;
  transform: translate(-50%, -50%) rotate(45deg) scale(1);
  transform: translate(-50%, -50%) rotate(45deg) scale(var(--diamond-scale));
}

.landing-welcome-background-box2 {
  width: 70%;
  squareify();
  background: desaturate(darken($colorPrimary, 20%), 15%);
  position: absolute;
  left: 15%;
  top: 15%;
}

.landing-welcome-background-box3 {
  width: 70%;
  squareify();
  background: $colorPrimary;
  position: absolute;
  left: 15%;
  top: 15%;
}

$initialBackgroundColor = desaturate(darken($colorPrimary, 50%), 25%);

.landing-welcome-intro {
  overflow: hidden;
  background: $initialBackgroundColor;
  color: #fff;
}

/* ==========================================================================
   About Sections
   ========================================================================== */

.landing-about-section {
  position: relative;
  
  padding-top: ($punit * 4);
  padding-bottom: ($punit * 8);

  text-align: center;
}

/* ==========================================================================
   Photo Section
   ========================================================================== */

.landing-photo-section {
  position: relative;
  z-index: 1;
  min-height: 400px;
  padding-left: ($punit / 2);
  padding-right: ($punit / 2);
  padding-bottom: ($punit * 4);
  // This gradient may look better if we arc it,
  // but that requires some geometric dexterity
  background: linear-gradient(to bottom, transparentify($colorSecondary, 0), $colorSecondary);
  text-align: center;

  display: flex;
  align-items: center;
  justify-content: center;
}

.landing-photo {
  display: inline-block;
  margin: 0 ($punit / 2);
  vertical-align: middle;
  flex: 0 1 auto;

  &-small {
    width: 200px;
    flex-basis: 200px;
    display: none;
  }

  &-medium {
    width: 250px;
    flex-basis: 250px;
  }

  &-large {
    width: 300px;
    flex-basis: 300px;
  }

  img {
    width: 100%;
    display: block;
  }
}

@media only screen and (min-width: 600px) {
  .landing-photo {
    margin: 0 $punit;
  }

  .landing-photo-section {
    padding-left: $punit;
    padding-right: $punit;
  }
}

@media only screen and (min-width: 800px) {
  .landing-photo-small {
    display: block;
  }
}

@media only screen and (min-width: 1200px) {
  .landing-photo {
    margin: 0 ($punit * 2);
  }

  .landing-photo-section {
    padding-left: ($punit * 2);
    padding-right: ($punit * 2);
  }
}

/* ==========================================================================
   FAQs Section
   ========================================================================== */

.landing-faqs-section {
  background: $colorSecondary;
  color: #fff;
  padding-top: $punit * 4;
  padding-bottom: $punit * 4;

  h2 {
    text-align: center;
  }

  .content-wrapper {
    width: 1000px;
  }

  .faqs-listing {
    @extend .clearfix;
    display: flex;
    flex-flow: wrap;
    align-items: stretch;

    margin: 0 (-1 * $punit);
  }

  .faq-element {
    color: $textColor;
    display: inline-block;
    display: flex;

    width: 100%;
    padding: ($punit);
    box-sizing: border-box;
    vertical-align: top;

    align-items: stretch;
  }

  .faq-element-inner {
    background: #fff;
    padding: ($punit);

    display: flex;
    flex-direction: column;
    justify-content: flex-end;

    border-radius: 2px;
  }

  h3 {
    margin-top: ($punit * 2);
  }

  @media only screen and (min-width: 500px) {
    .faq-element {
      width: 50%;
    }
  }

  @media only screen and (min-width: 800px) {
    .faq-element {
      width: 33.33%;
    }
  }
}

.landing-faqs-final {
  text-align: center;
  margin-top: ($punit * 4);
}

/* ==========================================================================
   Sponsors Section
   ========================================================================== */

// `sponsor` triggers ad blockers. Now we user `helper`
.helpers-container {
  margin: ($punit * 2);

  .helper-link {
    display: inline-block;
    vertical-align: middle;
    max-width: 100%;
    box-sizing: border-box;

    img {
      max-width: 100%;
    }
  }

  .helper-link-wide img {
    width: 100%;
  }

  // Tall helper links could cause some weird bugs on mobile
  // Probably best to avoid for now!
  .helper-link-tall img {
    height: 100%;
  }

  // Name, width, height, padding
  $sponsorSizes = (cohost 1050px 800px 30px) (tera 583px 300px 20px) (giga 324px 185px 15px) (mega 180px 100px 10px) (kilo 100px 50px 5px);
  $minSize = 45px 30px 5px

  for $sponsor in $sponsorSizes {
    &-{$sponsor[0]} {
      $marginSize = min($minSize[2], ($sponsor[3]) / 2);

      .helper-link-wide {
        width: max($minSize[0], $sponsor[1] / 2);
      }

      .helper-link-tall {
        height: max($minSize[1], $sponsor[2] / 2);
      }

      .helper-link {
        padding: ($marginSize);
      }
    }
  }

  @media only screen and (min-width: 600px) {
    margin: ($punit * 2) (0);

    for $sponsor in $sponsorSizes {
      &-{$sponsor[0]} {
        $marginSize = ($sponsor[3]) * 2;
        $outerMargin = ~min($marginSize, $punit);
        margin-left: $outerMargin;
        margin-right: $outerMargin;

        .helper-link-wide {
          width: ($sponsor[1]);
        }

        .helper-link-tall {
          height: ($sponsor[2]);
        }

        .helper-link {
          padding ($marginSize);
        }
      }
    }
  }
}

.landing-helpers-section {
  padding: $punit * 3 0;
}

.landing-footer {
  font-size: 0.9em;
  margin-top: 200px;
  color: $grayLight;
}
