/* ==========================================================================
   Live screen to be presented during the event
   ========================================================================== */

.live-container {
	font-family: "PxGrotesk", Helvetica, Arial, sans-serif;
	position: fixed;
	left: 0; right: 0; top: 0; bottom: 0;
	background-color: black;
	display: flex;
	flex-direction: column;
}

.live-container-event-countdown {
	flex: 1 1 auto;
	display: flex;
	flex-direction: column;
	justify-content: center;

	.event-countdown {
		flex: 0 0 auto;
		width: 100%;
		text-align: center;
		pointer-events: none;
		color: white;
		font-size: 60pt;
	}
}

.live-social-feed {
	flex: 0 0 auto;
	padding: 10px;
}

.live-social-feed-content {
	display: flex;
}

.live-social-feed-hashtag {
	padding: 10px;
	margin: 0;
	color: white;
	font-size: 1.7em;
}

.live-social-feed-item {
	height: 500px;
	padding: 10px;
	display: flex;
	flex-basis: 20%;
	flex-direction: column;
}

.live-social-feed-item-event ul {
	padding: 0;
	list-style-type: none;
}

.live-social-feed-item-content {
	flex: 1 0 auto;
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	border-radius: 5px;
	padding: 10px;
	font-size: 1.2em;
	color: white;
	max-width: 400px;
	background-size: cover;
	background-position: center;

	img {
		display: block;
		max-width: 100%;
	}
}

.fractal-canvas {
	transition: filter 0, opacity 0;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	z-index: -1;
	
	&.vanish, &.fade {
		filter: blur(100px);
		opacity: 0;
	}
	
	&.vanish {
		transition: filter 0.4s cubic-bezier(0.600, 0.040, 0.980, 0.335), opacity 0.6s ease-in;
	}
	
	&.fade {
		transition: filter 4s cubic-bezier(0.600, 0.040, 0.980, 0.335), opacity 6s ease-in;
	}
}