#mlh-trust-badge {
    display: block;
    max-width: 100px;
    min-width: 60px;
    position: fixed;
    right: var(--one);
    top: 0;
    width: 10%;
    z-index: 10000;

    img {
        width: 100%
    }
}
#mlh-trust-badge::after {
    display: none;
}

@media (min-width: 1063px) and (max-width: 1280px) {
    #mlh-trust-badge {
        left: var(--one);
    }
}

@media (max-width: 342pt) {
    #mlh-trust-badge {
        right: calc(57 / 342 * 100vw);
    }
}
