{% macro singleColourIcon(assetFunc, name, caption = name) %}
<svg class="icon">
    <title>{{caption}}</title>
    <use x="0" y="0" xlink:href="{{ assetFunc('images/icons/' + (name | lower | replace(" ", "-") | replace(".", "")) + '.svg#icon') }}"/>
</svg>
{% endmacro %}
{% macro sponsorLogo(assetFunc, name, tier) %}
<img class="{{ tier }} logo" width="100%" draggable="false" alt="{{name}}" src="{{ assetFunc('images/sponsors-logos/' + (name | lower | replace(" ", "-") | replace(".", "")) + '.svg') }}"/>
{% endmacro %}
