{% extends 'ternary-base.html' %}
{% block content %}
<header class="black">
    <div class="container a4">
        <div class="two unit row">
            <div class="three unit column">
                <div class="two unit row">
                    <img id="hack-cambridge-logo-object" draggable="false" src="{{ asset('images/hc-2018/logo.svg') }}" alt="Hack Cambridge Logo"/>
                </div>
            </div>
            <div id="intro-text" class="unit column">
                <h2 id="hack-cambridge-wordmark">Hack Cambridge<br><span class="pixel">Ternary</span></h2>
            </div>
        </div>
    </div>
</header>
<main>
    {#
      if the user variable is available (only the case if the page is authenticated) let them know they're logged in via a header
    #}
    {% if user.firstName %}
        <section class="red">
            <div class="container a4">
                <div class="half unit row">
                    Hey {{ user.firstName }} {{ user.lastName }}!
                </div>
                <div class="half unit row">
                    <div class="unit column">
                        <a href="/apply/logout">Logout</a>
                        <br>
                        {# dashboard view explicitly sets is_dashboard to true, otherwise is falsey #}
                        {% if not is_dashboard %}
                            <a href="/apply/dashboard">Dashboard</a>
                        {% endif %}
                    </div>
                </div>
            </div>
        </section>
    {% endif %}
    {% if homeLink %}
    <section class="home-link">
        <div class="container a4">
            <div class="half unit row">
                <a rel="prev" href="/">Back to the homepage</a> 
            </div>
        </div>
    </section>
    {% endif %}
    <section>
        <div class="container a4">
            <div class="two unit row">
                <h1>
                    {% block pageHeading %}{% endblock %}
                </h1>
            </div>
            {% block pageContent %}
            {% endblock %}
        </div>
    </section>
    {% block extraSections %}
    {% endblock %}
</main>
{% if footer %}
<footer>
    <div class="container a4">
        <div class="one half unit row">
            <div class="column">
                {% include 'ternary-footer.html' %}
            </div>
        </div>
    </div>
</footer>
{% endif %}
{% endblock %}
