{% extends 'base.html' %}
{% set layoutMode = "a4" %}
{% block content %}
  {% include 'header.html' %}
  <main layout="{{ layoutMode }}">
      {#
        if the user variable is available (only the case if the page is authenticated) let them know they're logged in via a header
      #}
      {% if user.firstName %}
        <section color="blue" grid="rows">
          <div rows="1.0">
            Hey {{ user.firstName }} {{ user.lastName }}!
            <br><a href="/apply/logout">Logout</a>
            {# dashboard view explicitly sets is_dashboard to true, otherwise is falsey #}
            {% if not is_dashboard %}
              <br><a href="/apply/dashboard">Dashboard</a>
            {% endif %}
          </div>
        </section>
      {% endif %}
      {% block introBanner %}
      {% endblock %}
      {% if homeLink %}
        <section grid="rows">
          <a rel="prev" href="/" rows="0.5">Back to the homepage</a>
        </section>
      {% endif %}
      {% if not no_page_content %}
        <section grid="rows">
          <h1 rows="1.0">
            {% block pageHeading %}{% endblock %}
          </h1>
          {% block pageContent %}
          {% endblock %}
        </section>
      {% endif %}
      {% block extraSections %}
      {% endblock %}
  </main>
  {% if footer %}
    <footer grid="rows" layout="{{ layoutMode }}" rows="2.0">
      <div>
        {% include 'footer.html' %}
      </div>
    </footer>
  {% endif %}
{% endblock %}
