<header class="{{ headerColor }}">
    <div class="container {{ layoutMode }}">
        <div class="two unit row">
            <div class="two unit column">
                <img draggable="false" src="{{ asset('images/logo.svg') }}" alt="Hack Cambridge Logo"/>
            </div>
            <div id="intro-text" class="unit column grows">
                <h2 id="hack-cambridge-wordmark">Hack Cambridge<br><span class="pixel">Ternary</span></h2>
            </div>
        </div>
    </div>
</header>