{% extends 'base.html' %}
{% import 'macros/dates.html' as dates %}
{% from "macros/svg-elements.html" import singleColourIcon as singleColourIcon %}
{% from "macros/svg-elements.html" import sponsorLogo as sponsorLogo %}
{% set title = event.theme.getEventName() %}
{% set description = 'Hack Cambridge ' + event.theme.getEventName() + ' ' + event.dates.getHackathonStartDate().year() %}
{% set keywords = 'hack,cambridge,' + event.theme.getEventName().toLowerCase() + ',' + event.dates.getHackathonStartDate().year() %}
{% set layoutMode = 'width' %}
{% block content %}
  <main layout="{{ layoutMode }}">
    <div fixed grid="columns" sidebar columns="7.0">
      <img draggable="false" src="{{ asset('images/logo.svg') }}"/>
      <div></div>
      <div></div>
    </div>
    <section grid="grid" sidebar columns="7.0" rows="4.5">
      <img draggable="false" src="{{ asset('images/logo.svg') }}"/>
      <div grid="rows">
        <h1 rows="2.0">
          Hack<br>Cambridge<br><span class="pixel">4D</span>
        </h1>
        <div rows="1.5">
          <p>
            Hack Cambridge is back! From the {{ dates.dayWithSuperscript(event.dates.getHackathonStartDate()) }} to the {{ dates.shortDateWithSuperscript(event.dates.getHackathonEndDate()) }}, the University of Cambridge’s annual hackathon will yet again bring together outstanding hackers, programmers, designers and more from universities all over the world to build amazing software.<br>For 24 hours they will build, break and innovate to produce projects that push the boundaries of technology.
          </p>
          <p>
            Thank you for joining us.
          </p>
        </div>
      </div>
      <ul class="icons" rows="2.5">
        <li>
          <a class="icon" rel="external" href="https://www.facebook.com/hackcambridge">
            {{ singleColourIcon(asset, 'Facebook') }}
          </a>
        </li>
        <li>
          <a class="icon" rel="external" href="https://twitter.com/@hack_cambridge">
            {{ singleColourIcon(asset, 'Twitter') }}
          </a>
        </li>
        <li>
          <a class="icon" rel="external" href="https://medium.com/hackers-at-cambridge/tagged/hack-cambridge">
            {{ singleColourIcon(asset, 'Medium') }}
          </a>
        </li>
        <li>
          <a class="icon" rel="external" href="https://www.instagram.com/hack_cambridge/">
            {{ singleColourIcon(asset, 'Instagram') }}
          </a>
        </li>
      </ul>
    </section>
    <section grid="grid" sidebar columns="7.0">
      <div></div>
      <div grid="rows" rows="1.5">
        <strong rows="0.5">
          Keen to know more about the event?
        </strong>
        <div rows="1.0">
          <p>We’ll be publishing an event page very soon! In it, you'll find a schedule, maps and directions, listings of APIs, hardware, prizes, and more.</p>
          <!-- <a href="/event">Find all the information you need on the event page</a> -->
        </div>
      </div>
      <div></div>
    </section>
    <section grid="grid" sidebar columns="7.0" color="red">
      <div></div>
      <div grid="rows" rows="1.5">
        <strong rows="0.5">
          Applications for Hack Cambridge 2019 open soon.
        </strong>
        <p rows="0.5">
          Sign up to stay in the loop!
        </p>
        <form class="signup-form" grid="columns" method="post" action="/api/subscribe/interested" rows="0.5" columns="1.0" align-last="right">
          <input type="email" name="email" required placeholder="email@domain.com"/>
          <input type="submit" name="submit" value="Submit."/>
        </form>
      </div>
      <ul rows="0.5">
        <li>
          <a rel="next" href="/faqs">
            {{ singleColourIcon(asset, 'Help') }}
          </a>
        </li>
      </il>
    </section>
    <section grid="columns" sidebar columns="7.0">
      <div></div>
      <div grid="rows">
        <h2 rows="1.0">
          Sponsors
        </h2>
        <div rows="1.5">
          <p>Thank you to everyone who sponsored Hack Cambridge Ternary last year! We couldn't have done it without you.</p>
          <p>Interested in sponsoring Hack Cambridge this year?</p>
          <a href="mailto:sponsorship@hackcambridge.com">Send us an email</a>
        </div>
        {% if sponsors %}
          {% for sponsorTierName, sponsorTier in sponsors %}
            {% if sponsorTier|length != 0 %}
              <h4 rows="1.0">{{ sponsorTierName | capitalize }}</h4>
              <div class="content" rows="{{ sponsorTier.rows }}">
                {% for sponsor in sponsorTier.items %}
                  <div grid="columns">
                    <a columns="{{ sponsorTier.columns }}" href="{{ sponsor.website }}" target="_blank" rel="external">{{ sponsorLogo(asset, sponsor.name, sponsorTierName) }}</a>
                  </div>
                {% endfor %}
              </div>
            {% endif %}
          {% endfor %}
        {% endif %}
      </div>
      <div></div>
    </section>
  </main>
  <footer grid="grid" sidebar columns="7.0" layout="{{ layoutMode }}">
    <div></div>
    <div rows="2.0">
      {% include 'footer.html' %}
    </div>
    <div></div>
  </footer>
{% endblock %}
