{% extends 'base.html' %}
{% from "macros/svg-elements.html" import sponsorLogo as sponsorLogo %}
{% block content %}
<main class="height">
    <div class="container spaced">
        <div class="unit row">
            <div class="four unit column">
                <div class="cube-container">
                    <div id="cube-logo" class="centred animate">
                        <figure class="front cube-top"></figure>
                        <figure class="back cube-top"></figure>
                        <figure class="right cube-top"></figure>
                        <figure class="left cube-top"></figure>
                        <figure class="top cube-top"></figure>
                        <figure class="bottom cube-top"></figure>
                        <figure class="front cube-bottom"></figure>
                        <figure class="back cube-bottom"></figure>
                        <figure class="right cube-bottom"></figure>
                        <figure class="left cube-bottom"></figure>
                        <figure class="top cube-bottom"></figure>
                        <figure class="bottom cube-bottom"></figure>
                    </div>
                </div>
            </div>
            <div class="unit column grows">
                <div class="three unit row">
                    <div class="unit column grows">
                        <h2 class="event-countdown pixel"></h2>
                    </div>
                </div>
                <div class="unit row">
                    <div class="four unit column">
                        <h3>On now</h3>
                        <p class="live-event-now"></p>
                        <h3>Up next</h3>
                        <p class="live-event-next"></p>
                    </div>
                    <div class="four unit column">
                        <div class="two unit row">
                            <div class="unit column grows">
                                <h3>#ternary</h3>
                            </div>
                        </div>
                        <div class="four unit row">
                            <div class="live-social-feed-content unit column grows"></div>
                        </div>
                    </div>
                </div>
            </div>   
        </div>
    </div>
</main>
<script>
  window.liveConfig = {
    pusherKey: "{{ pusherKey }}",
  };
</script>
{% endblock %}