{% extends 'recurse-base.html' %}
{% block content %}
<div class="live-container">

  <canvas class="fractal-canvas"></canvas>

  <div class="live-container-event-countdown">
    <div class="event-countdown"></div>
  </div>

  <div class="live-social-feed">
    <h2 class="live-social-feed-hashtag">#ternary</h2>
    <div class="live-social-feed-content"></div>
  </div>

  <div class="live-bar">
    <div class="live-spotify-widget-cropper">
      <iframe class="live-spotify-widget" src="https://embed.spotify.com/?uri=spotify:user:11124594727:playlist:5ZsAzB4swZL2Et1yaOlKAJ" width="300" height="80" frameborder="0" allowtransparency="true"></iframe>
    </div>

    <div class="live-sponsors">
      <!--<img src="{{ asset('images/logos/improbable-logo-white.svg') }}" alt="Improbable"/>-->
      {% for sponsorTierName, sponsorTier in sponsors %}
        {% if sponsorTierName == 'tera' %}
            {% for sponsor in sponsorTier %}
                <img src="{{ asset('images/logos/' + sponsor.logo) }}" alt="{{ sponsor.name }}"/>
            {% endfor %}
        {% endif %}
      {% endfor %}
    </div>
  </div>
</div>
<script>
  window.liveConfig = {
    pusherKey: "{{ pusherKey }}",
  };
</script>
{% endblock %}