{% extends 'recurse-base.html' %}
{% from "macros/svg-elements.html" import sponsorLogo as sponsorLogo %}
{% block content %}
<div class="live-container">

  <canvas class="fractal-canvas"></canvas>

  <div class="live-container-event-countdown">
    <div class="event-countdown"></div>
  </div>

  <div class="live-social-feed">
    <h2 class="live-social-feed-hashtag">#ternary</h2>
    <div class="live-social-feed-content"></div>
  </div>

  <div class="live-bar">
    <div class="live-spotify-widget-cropper">
      <iframe class="live-spotify-widget" src="https://embed.spotify.com/?uri=spotify:user:11124594727:playlist:5ZsAzB4swZL2Et1yaOlKAJ" width="300" height="80" frameborder="0" allowtransparency="true"></iframe>
    </div>

    <div class="live-sponsors">
      {% for sponsorTierName, sponsorTier in sponsors %}
        {% if sponsorTierName == 'tera' %}
          {% for sponsor in sponsorTier.items %}
            {{ sponsorLogo(asset, sponsor.name, sponsorTierName) }}
          {% endfor %}
        {% endif %}
      {% endfor %}
    </div>
  </div>
</div>
<script>
  window.liveConfig = {
    pusherKey: "{{ pusherKey }}",
  };
</script>
{% endblock %}