{% extends 'default.html' %}
{% set title = 'Make a Payment' %}
{% set footer = true %}
{% block pageHeading %}{{ title }}{% endblock %}
{% block pageContent %}
<div class="two half unit row">
    <div class="unit column grows">
        <p class="payment-form-description">
          Enter the amount you wish to pay, and a reference for your payment below.
          If you are paying an invoice, indicate the invoice number and the company making the payment.
          All payments are made securely through Stripe; we do not have access to your credit card details.
        </p>
    </div>
</div>
<div class="one half unit row">
    <div class="unit column grows">
        <form class="half unit persistent row payment-form" action="/api/payment">
            <div class="form-row two unit column">
                <input class="form-control" name="amount" placeholder="Amount (GBP)" class="payment-form-amount" id="payment-form-amount" type="number" min="1" max="99999.99" step="any" required />
            </div>
            <div class="form-row three unit column">
                <input class="form-control" name="reference" placeholder="Reference" class="payment-form-reference" id="payment-form-reference" type="text" required />
            </div>
            <div class="form-row two unit column">
                <button class="button submit-button" type="submit">Make Payment</button>
            </div>
        </form>
    </div>
</div>
{% endblock %}
{% block extraSections %}
<section class="black pixel">
    <div class="container a4">
        <div class="two unit row">
            <div class="unit column grows">
                <h3>Status</h3>
            </div>
        </div>
        <div class="three unit row">
            <div class="unit column grows">
                <p class="form-status">None</p>
            </div>
        </div>
    </div>
</section>
{% endblock %}

{% block scripts %}
<script>window.stripeConfig = { key: "{{ stripeKey }}", image: "{{ asset('images/apple-touch-icon.png') }}" };</script>
<script src="https://checkout.stripe.com/checkout.js"></script>
{{ super() }}
{% endblock %}
