{% extends 'default.html' %}
{% set title = 'Privacy Policy' %}
{% set footer = true %}
{% set homeLink = true %}
{% block pageHeading %}{{title}}{% endblock %}
{% block pageContent %}
<div class="two unit row">
    <div class="unit column grows">
        <p>
            We take your privacy very seriously. We will be asking applicants for personal data, so we want to let you know what we will do with it.
        </p>
    </div>
</div>
<div class="two unit row">
    <div class="unit column grows">
        <h3>
            About your privacy
        </h3>
    </div>
</div>
<div class="five half unit row">
    <div class="columns balance">
        <ul>
            <li>
                We wouldn’t be able to organize Hack Cambridge without the help from our sponsors. Sponsors, in exchange, will have access to the CV you’ve submitted. They will use this for recruiting purposes (for example, to send you a job offer).
            </li>
            <li>
                However, we won’t be sharing anything else from your application with sponsors. So if you want to be reached by sponsors you should put your contact details in your CV.
            </li>
            <li>
                The intellectual property created at our events will remain the sole property of those who created it.
            </li>
            <li>
                We will be taking lots of photos throughout the event, and publishing them. You may appear on some of these photos. We aim to publish photos that show everyone at their best, but there might be a few that you don’t like. If you see a photo like this, let us know so that we can try to take it down—but be aware that it is difficult to completely erase a photo from all media channels.
            </li>
            <li>
                We will share anonymised data about your dietary requirements with those helping us with catering.
            </li>
            <li>
                We will publish the names of the winners and the winning hacks. We may publish other content associated with this, such as videos of the winners presenting.
            </li>
            <li>
                We use analytics services on our website, which place a third-party cookie in your browser. If you prefer not to be tracked, you should turn on Do Not Track or Incognito mode in your browser.
            </li>
        </ul>
    </div>
</div>
{% endblock %}
