{% extends 'default.html' %}
{% set title = 'Privacy Policy' %}
{% set footer = true %}
{% set homeLink = true %}
{% block pageHeading %}{{title}}{% endblock %}
{% block pageContent %}
  <p rows="1.5">
    This page informs you of our policies regarding the collection, use, and disclosure of Personal Information when you use our service. We will not use or share your information with anyone except as described in this Privacy Policy.
  </p>
  <h3 rows="1.0">
    Introduction
  </h3>
  <div rows="1.5">
    <p>
      Hack Cambridge (‘us’, ‘we’, or ‘our’) operates Hack Cambridge 4D (the ‘service’ or ‘hackathon’).
    </p>
    <p>
      We use your personal information to operate and improve Hack Cambridge 4D. By using this service, you agree to the collection and use of information set out in this policy.
    </p>
  </div>
  <h3 rows="1.0">
    Changes to this Privacy Policy
  </h3>
  <div rows="1.5">
    <p>
      We may update our Privacy Policy from time to time. We will notify you of changes by posting the new policy on this page.
    </p>
    <p>
      You are advised to review the policy periodically for changes. Changes are effective once posted on this page.
    </p>
  </div>
  <h3 rows="1.0">
    General information collection and use
  </h3>
  <div rows="1.5">
    <p>
      While using our service, we may ask you to provide us with certain personally identifiable information that can be used to contact or identify you. Personally identifiable information may include, but is not limited to, your email address, name, phone number, address, and other information (‘Personal Information’).
    </p>
  </div>
  <h3 rows="1.0">
    Information collection and use for applicants
  </h3>
  <div class="text-columns" rows="4.0">
    <p>
      When you apply to the event, we collect information about you from MyMLH that is necessary for running the event, including your MLH ID, first name, last name, date of birth, email, phone number, institution, study level, course, shirt size, dietary restrictions, and any special needs you have entered on your MyMLH profile. During the application process, we also collect your CV and your submissions to the questions we ask, including information about your interests, and the country you are travelling from. We also store your RSVP status and your attendee status.
    </p>
    <p>
      We use this information for running the hackathon, which involves sharing it with trusted third parties. For example, we share anonymised data about your dietary requirements with those helping us with catering. We also use this information for sharing anonymised aggregate data with media organisations for the purposes of promoting Hack Cambridge.
    </p>
    <p>
      If you require a visa invitation letter, we collect information from you that we need to provide a visa invitation letter and process this information, in order to provide you a visa invitation letter.
    </p>
  </div>
  <h3 rows="1.0">
    Browser data
  </h3>
  <div class="text-columns" rows="4.5">
    <h4>
      Log data
    </h4>
    <p>
      We collect information that your browser sends whenever you visit our service (known as ‘log data’). This log data may include information such as your computer’s IP (Internet Protocol) address, browser type, browser version, the pages of our service that you visit, the time and date of your visit, the time spent on those pages and other statistics.
    </p>
    <p>
      In addition, we may use third party services such as Google Analytics that collect, monitor and analyse this information in order to improve our service’s functionality. These third party service providers have their own privacy policies addressing how they use such information.
    </p>
    <h4>
      Cookies
    </h4>
    <p>
      Cookies are files with small amount of data, which may include an anonymous unique identifier. Cookies are sent to your browser from a web site and stored on your computer’s hard drive.
    </p>
    <p>
      We use cookies to collect information. You can instruct your browser to refuse all cookies or to indicate when a cookie is being sent. However, if you do not accept cookies, you may not be able to use some portions of our service.
    </p>
  </div>
  <h3 rows="1.0">
    Transfer and publishing of your data
  </h3>
  <div class="text-columns" rows="8.0">
    <h4>
      Sponsors
    </h4>
    <p>
      It would not be possible to organize Hack Cambridge without the help of our sponsors. Sponsors, in exchange, will have access to the CV you submit. They may perform processing on and make use of the data within this CV for recruiting purposes, for example to send you a job offer.
    </p>
    <p>
      However, we will not share anything else from your application with sponsors. Put contact details in your CV if you wish to be able to be contacted.
    </p>
    <h4>
      Media and publicity
    </h4>
    <p>
      We will take photos throughout the event, and publish them. You may appear in some of these photos. We aim to publish photos that show people at their best, but if you see a photo of you that you dislike, let us know so that we can try to remove it. However, be aware that it is difficult to completely erase a photo from all media channels.
    </p>
    <p>
      We will publish the names of winners and the winning hacks. We may publish other content associated with this, such as videos of the winners presenting.
    </p>
    <p>
      We may share anonymised data with media organisations for the purposes of promoting Hack Cambridge.
    </p>
    <h4>
      Service Providers
    </h4>
    <p>
      We may employ third party companies and individuals to facilitate our service, provide the service on our behalf, carry out service-related activities or to help us in analysing how our service is used.
    </p>
    <p>
      These third parties have access to your Personal Information only to perform these tasks on our behalf, and are obligated not to disclose or use it for any other purpose.
    </p>
    <h4>
      International transfer
    </h4>
    <p>
      Your information, including Personal Information, may be transferred to—and maintained on—computers located outside of your state, province, country or other governmental jurisdiction where the data protection laws may differ from those from your jurisdiction.
    </p>
    <p>
      If you are located outside United Kingdom and choose to provide information to us, please note that we transfer the information, including Personal Information, to United Kingdom and process it there.
    </p>
    <p>
      Your consent to this Privacy Policy followed by your submission of such information represents your agreement to that transfer.
    </p>
  </div>
  <h3 rows="1.0">
    Provisos
  </h3>
  <div class="text-columns" rows="5.0">
    <h4>
      Legal compliance
    </h4>
    <p>
      We will disclose your Personal Information where required to do so by law or subpoena, or if we believe that such action is necessary to comply with the law and the reasonable requests of law enforcement, or to protect the security or integrity of our service.
    </p>
    <h4>
      Children’s privacy
    </h4>
    <p>
      Our service does not address anyone under the age of 13 (‘Children’).
    </p>
    <p>
      We do not knowingly collect personally identifiable information from children under 13. If you are a parent or guardian and you are aware that your child has provided us with Personal Information, please contact us. If we discover that a child under 13 has provided us with Personal Information, we will delete such information from our servers immediately.
    </p>
    <h4>
      Security
    </h4>
    <p>
      The security of your Personal Information is important to us, but be mindful that no method of transmission over the Internet or method of electronic storage is completely secure. While we strive to use commercially acceptable means to protect your Personal Information, we cannot guarantee its absolute security.
    </p>
  </div>
{% endblock %}
