<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>Hack Cambridge Ternary</title>
        <link rel="stylesheet" type="text/css" href="{{ asset('styles/hc-2018/splash-bundle.css') }}">
        <link rel="stylesheet" type="text/css" href="https://assets.hackcambridge.com/fonts/PxGroteskRegular-Regular.css">
        <link rel="stylesheet" type="text/css" href="https://assets.hackcambridge.com/fonts/PxGroteskScreen-Regular.css">
        <link rel="stylesheet" type="text/css" href="https://assets.hackcambridge.com/fonts/PxGroteskLight-Regular.css">
        <link rel="stylesheet" type="text/css" href="https://assets.hackcambridge.com/fonts/PxGroteskBold-Regular.css">
        <link rel="icon" href="{{ asset('images/hc-2018/favicons/favicon.png') }}" sizes="512x512" type="image/png">
        <link rel="icon" href="{{ asset('images/hc-2018/favicons/favicon.ico') }}" sizes="16x16 24x24 32x32 48x48 64x64 96x96 128x128 256x256" type="image/vnd.microsoft.icon">
        <link rel="icon" href="{{ asset('images/hc-2018/favicons/favicon.icns') }}" sizes="16x16 24x24 32x32 48x48 64x64 96x96 128x128 256x256 512x512">
        <link rel="icon" href="{{ asset('images/hc-2018/favicons/favicon.svg') }}" sizes="any" type="image/svg+xml">
        <meta name=description content="Get hyped for Hack Cambridge 2018">
        <meta name=keywords content="hack,Cambridge,ternary,sponsorship,hackathon">
        <meta name=author content="Hack Cambridge Team">
        <meta name=viewport content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <main>
            <section id="splash-intro">
                <div class="container width">
                    <div class="seven unit row">
                        <div class="six unit h">
                            <object id="splash-hack-cambridge-logo-object" data="{{ asset('images/hc-2018/logo.svg') }}"></object>
                        </div>
                        <div id="splash-intro-content" class="seven unit h row">
                            <div class="five unit h">
                                <div class="container">
                                    <div class="two unit row">
                                        <div class="five unit h">
                                            <div>
                                                <h2 id="sponsorship-hack-cambridge-wordmark">Hack<br>Cambridge<br><span class="pixel">Ternary</span></h2>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="two unit row">
                                        <div class="five unit h">
                                            <h3>
                                                Not twice, but three times.<br>Not 2D, but 3D.<br>Not binary, but ternary.
                                            </h3>
                                        </div>
                                    </div>
                                    <div class="two unit row">
                                        <div class="five unit h">
                                            <div id="splash-intro-text">
                                                <p>
                                                    In January 2018, Cambridge University’s annual hackathon will yet again bring together 300 top Computer Scientists and Engineers from the best universities worldwide.<br>For 24 hours they will build, break and innovate to produce projects that push the boundaries of technology.
                                                </p>
                                                <p>
                                                    Join us.
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div id="intro-social" class="one unit h">
                                <h4>
                                    Social
                                </h4>
                                <div>
                                    <a href="https://www.facebook.com/hackcambridge">
                                        <img id="splash-facebook-logo" src="{{ asset('images/hc-2018/facebook-logo.svg') }}" alt="Facebook logo" draggable="false"/>
                                    </a>
                                    <a href="https://twitter.com/@hack_cambridge">
                                        <img id="splash-twitter-logo" src="{{ asset('images/hc-2018/twitter-logo.svg') }}" alt="Twitter logo" draggable="false"/>
                                    </a>
                                    <a href="https://medium.com/@HackCambridge">
                                        <img id="splash-medium-logo" src="{{ asset('images/hc-2018/medium-logo.svg') }}" alt="Medium logo" draggable="false"/>
                                    </a>
                                    <a href="https://www.instagram.com/hack_cambridge/">
                                        <img id="splash-instagram-logo" src="{{ asset('images/hc-2018/instagram-logo.svg') }}" alt="Instagram logo" draggable="false"/>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <section id="splash-signup" class="red">
                <div class="container width">
                    <div class="one half unit row">
                        <div class="six unit h"></div>
                        <div class="seven unit h">
                            <div class="container">
                                <div class="one unit row">
                                    <div class="five unit h">
                                        <h5>
                                            Sign up now!<br><span class="secondary">We’ll be in touch soon.</span>
                                        </h5>
                                    </div>
                                </div>
                                <div class="half unit row">
                                    <div class="five unit h">
                                        <form id="splash-signup-form" class="half unit row" method="post" action="some-action">
                                            <div class="four small unit h">
                                                <input type="email" name="signup-email" required placeholder="Enter your email address." />
                                            </div>
                                            <div class="small unit h"></div>
                                            <div class="one unit h">
                                                <input type="submit" name="submit" value="Submit." />
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </main>
        <footer>
            <div class="container width">
                <div class="half unit row">
                    <div class="six unit h"></div>
                    <div class="seven unit h">
                        <div class="half unit row">
                            <div class="five unit h">
                                <p>
                                    Copyright © Hack Cambridge 2017. All rights reserved.
                                </p>
                                <a href="./terms-and-conditions.html">Terms and Conditions</a>
                                <br />
                                <a href="./privacy-policy.html">Privacy Policy</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
    </body>
</html>
