{% extends 'base.html' %}
{% set title = 'Sponsorship' %}
{% set description = 'Opportunities for sponsorship at Hack Cambridge 2018' %}
{% set keywords = 'hack,Cambridge,ternary,sponsorship,hackathon' %}
{% set layoutMode = 'a4' %}
{% block content %}
  <header layout="{{ layoutMode }}" grid="grid" rows="2.5">
    <img columns="3.0" draggable="false" src="{{ asset('images/logo.svg') }}" alt="Hack Cambridge Logo"/>
    <div columns="5.5" grid="rows">
      <h1 id="wordmark" rows="0.5">Hack Cambridge</h1>
      <div>
        <p>
          In January 2019, 300 top computer scientists will come together for 24 hours to push the boundaries of technology.
        </p>
        <p>
          And we want you to join us too.
        </p>
      </div>
    </div>
  </header>
  <main layout="{{ layoutMode }}">
    <section color="blue" grid="grid">
      <img columns="3.0" draggable="false" src="{{ asset('images/university-of-cambridge-logo.svg') }}" alt="University of Cambridge Logo"/>
      <div grid="columns" columns="5.5">
        <p columns="3.0">
          The University of Cambridge endorses Hack Cambridge.
        </p>
      </div>
    </section>
    <section grid="rows">
      <h2 rows="1">
        Why sponsor us?
      </h2>
      <div class="text-columns" rows="4.5">
        <h4>
          Recruiting
        </h4>
        <p>
          After reviewing each applicant’s CV at least twice we admit only the best candidates to Hack Cambridge. We set high standards to ensure attendees have impressive technical prowess, a passionate entrepreneurial spirit, and a track record of innovation. This event offers a unique opportunity to interact with the most promising students outside of an interview setting in an exciting, team-driven rollercoaster giving real insight into how they work under pressure. Bring your best recruiters and an unlimited number of mentors—with such strong candidates, you’ll be sure to find the perfect hire!
        </p>
        <h4>
          Product Adoption and Live Testing
        </h4>
        <p>
          Whether you’re a young company looking to increase your reputation or a large firm with a desire to show off your capabilities to future tech trendsetters, Hack Cambridge brings together your perfect audience: show them your exciting new features; work with them to see if they fit your culture; see them create and collaborate. 
          Workshops and product demos paired with the ability to award prizes gives a fantastic platform to raise awareness for your technology, you may even be surprised by the bizarre, innovative and radical use cases our hackers will find for it.
        </p>
      </div>
    </section>
    <section color="red" grid="rows">
      <div grid="rows" rows="2">
        <h2 rows="1">
          <span>Co-Host</span>
        </h2>
        <h3 rows="1">
          Got something cool under wraps?<br>Share our spotlight for an awesome reveal!
        </h3>
      </div>
      <div class="text-columns" rows="2">
        <ul>
          <li>
            Work with us to plan Hack Cambridge
          </li>
          <li>
            10 minute keynote at opening
          </li>
          <li>
            Pre-event marketing
          </li>
          <li>
            Send unlimited recruiters
          </li>
          <li>
            Blurb on website
          </li>
          <li>
            Logo in prominent position on website
          </li>
          <li>
            Any reasonable request accommodated
          </li>
          <li>
            All Tera benefits
          </li>
        </ul>
      </div>
    </section>
    <section grid="rows">
      <div grid="rows" rows="2">
        <h2 rows="1">
            Spon&shy;sored Meal
        </h2>
        <h3 rows="1">
          Dinner or Midnight Snack<br><span class="pixel">£1000</span>
        </h3>
      </div>
      <div class="text-columns" rows="1.5">
        <ul>
          <li>
            15 Minutes pre-meal stage time
          </li>
          <li>
            Dining area branded with a banner
          </li>
          <li>
            Hand out flyers in the queue
          </li>
          <li>
            Engage with hackers as they wait for food
          </li>
          <li>
            Hack Cambridge provides the meal
          </li>
        </ul>
      </div>
    </section>
    <section color="blue" grid="rows">
      <h2 rows="1">
        Coffee
      </h2>
      <div class="text-columns" rows="1.5">
        <ul>
          <li>
            Coffee stand in the main foyer
          </li>
          <li>
            Option to man the stand yourself
          </li>
          <li>
            Advertise and list your hardware and APIs
          </li>
          <li>
            Option to provide your own branded cups
          </li>
          <li>
            Logo on website
          </li>
        </ul>
      </div>
    </section>
    <section grid="rows">
      <div grid="rows" rows="1.5">
        <h2 rows="1.0">
          Sponsorship Tiers
        </h2>
        <p rows="0.5">
          Higher tiers include the benefits of lower tiers.<br>All prices are exclusive of VAT unless otherwise indicated.
        </p>
      </div>
      <div class="text-columns" rows="5">
        <h4>
          Tera <span class="pixel">£8,000</span>
        </h4>
        <ul>
          <li>
            5 minute presentation at opening ceremony
          </li>
          <li>
            Logo on live page throughout event
          </li>
          <li>
            Option to award a themed prize
          </li>
          <li>
            30 minute workshop slot
          </li>
          <li>
            Stall in foyer with space for large banner
          </li>
        </ul>
        <h4>
          Giga <span class="pixel">£5,000</span>
        </h4>
        <ul>
          <li>
            Award hardware or API prize
          </li>
          <li>
            10 minute product demo slot
          </li>
          <li>
            Large stall in food area with space for banner
          </li>
          <li>
            Receive CVs from all attendees before event
          </li>
          <li>
            Advertise hardware and APIs before event
          </li>
        </ul>
        <h4 class="span">
          Mega <span class="pixel">£2,500</span>
        </h4>
        <ul>
          <li>
            Receive CVs from all attendees after event
          </li>
          <li>
            Advertise hardware and APIs at event
          </li>
          <li>
            Small stall in food area with space for banner
          </li>
          <li>
            Social media shoutout before event
          </li>
          <li>
            Your logo on banner at event
          </li>
          <li>
            Distribute swag yourself or in our swag bags
          </li>
          <li>
            Send 1 recruiter
          </li>
          <li>
            Send unlimited mentors
          </li>
        </ul>
      </div>
    </section>
    <section grid="rows">
      <strong rows="1">
        Interested?<br><span class="secondary"><a href="mailto:sponsorship@hackcambridge.com" target="_blank">Contact our dedicated sponsorship team</a></span>
      </strong>
    </section>
  </main>
  <footer grid="rows" layout="{{ layoutMode }}" rows="2.0">
    <div>
      {% include 'footer.html' %}
    <div>
  </footer>
{% endblock %}
