<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>Hack Cambridge Ternary Sponsorship</title>
        <link rel="stylesheet" type="text/css" href="{{ asset('styles/hc-2018/sponsorship-bundle.css') }}">
        <link rel="stylesheet" type="text/css" href="https://hackcambridgeassets.s3.amazonaws.com/fonts/PxGroteskRegular-Regular.css">
        <link rel="stylesheet" type="text/css" href="https://hackcambridgeassets.s3.amazonaws.com/fonts/PxGroteskScreen-Regular.css">
        <link rel="stylesheet" type="text/css" href="https://hackcambridgeassets.s3.amazonaws.com/fonts/PxGroteskLight-Regular.css">
        <link rel="stylesheet" type="text/css" href="https://hackcambridgeassets.s3.amazonaws.com/fonts/PxGroteskBold-Regular.css">
        <link rel="icon" href="{{ asset('images/hc-2018/favicons/favicon.png') }}" sizes="512x512" type="image/png">
        <link rel="icon" href="{{ asset('images/hc-2018/favicons/favicon.ico') }}" sizes="16x16 24x24 32x32 48x48 64x64 96x96 128x128 256x256" type="image/vnd.microsoft.icon">
        <link rel="icon" href="{{ asset('images/hc-2018/favicons/favicon.icns') }}" sizes="16x16 24x24 32x32 48x48 64x64 96x96 128x128 256x256 512x512">
        <link rel="icon" href="{{ asset('images/hc-2018/favicons/favicon.svg') }}" sizes="any" type="image/svg+xml">
        <meta name="description" content="Opportunities for sponsorship at Hack Cambridge 2018">
        <meta name="keywords" content="hack,cambridge,ternary,sponsorship,hackathon">
        <meta name="author" content="Hack Cambridge Team">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <main>
            <section id="sponsorship-intro" class="black">
                <div class="container a4">
                    <div class="two unit row">
                        <div class="three unit h">
                            <div class="two unit row">
                                <img id="sponsorship-hack-cambridge-logo-object" draggable="false" src="{{ asset('images/hc-2018/logo.svg') }}" alt="Hack Cambridge Logo"/>
                            </div>
                        </div>
                        <div id="sponsorship-intro-text" class="unit h">
                            <h1 id="sponsorship-hack-cambridge-wordmark">Hack Cambridge<br><span class="pixel">Ternary</span></h1>
                            <p class="tight">
                                In January 2018, 300 top computer scientists will come together for 24 hours to push the boundaries of technology.
                            </p>
                            <p class="tight">
                                And we want you to join us too.
                            </p>
                        </div>
                    </div>
                </div>
            </section>
            <section id="sponsorship-endorsement" class="red">
                <div class="container a4">
                    <div id="sponsorship-university-of-cambridge-endorsement" class="half unit row centred">
                        <div class="three unit h">
                            <div class="half unit row">
                                <img id="sponsorship-university-of-cambridge-logo-object" draggable="false" src="{{ asset('images/hc-2018/university-of-cambridge-logo.svg') }}" alt="University of Cambridge Logo"/>
                            </div>
                        </div>
                        <p id="sponsorship-university-of-cambridge-text">
                            The University of Cambridge<br>endorses Hack Cambridge.
                        </p>
                    </div>
                </div>
            </section>
            <section id="sponsorship-pitch">
                <div class="container a4">
                    <div class="two unit row">
                        <h2>
                            Why sponsor us?
                        </h2>
                    </div>
                    <div class="body">
                        <div class="seven small unit row">
                            <div class="column">
                                <h4>
                                    Recruiting
                                </h4>
                                <p>
                                    After reviewing each applicant’s CV at least twice, we only admit the best candidates to Hack Cambridge. We set a high standard to ensure our attendees have impressive technical prowess, a passionate entrepreneurial spirit, and a proven record of innovation. This is a truly unique opportunity for you: 24 hours straight to work with the next generation of talent, evaluating their technical abilities and cultural fit with your organisation. Bring your best recruiters and an unlimited number of mentors – with such a strong pool of candidates, you’ll be sure to find the perfect hire!
                                </p>
                                <h4>
                                    Branding and Exposure
                                </h4>
                                <p class="shown">
                                    Whether you’re a young company looking to increase your reputation or a large firm with a desire to show off your capabilities to future tech trendsetters, Hack Cambridge brings together the perfect audience for any
                                </p>
                                <p class="hidden">
                                    Whether you’re a young company looking to increase your reputation or a large firm with a desire to show off your capabilities to future tech trendsetters, Hack Cambridge brings together the perfect audience for any company: the next generation of innovators and thought-leaders. Few messages about your brand and culture resonate louder with passionate hackers than to be there, stuck in alongside them during 24 intense hours of innovation. From product demos to sponsored messages, we want to help you maximise your exposure and recognition among the people who will drive the next generation of tech growth.
    
                                </p>
                            </div>
                            <div class="column">
                                <p class="shown">
                                    company: the next generation of innovators and thought-leaders. Few messages about your brand and culture resonate louder with passionate hackers than to be there, stuck in alongside them during 24 intense hours of innovation. From product demos to sponsored messages, we want to help you maximise your exposure and recognition among the people who will drive the next generation of tech growth.
                                </p>
                                <h4>
                                    Product Adoption and Live Testing
                                </h4>
                                <p>
                                    Show off your new product or demo your flagship hero service, and let the hackers at it for the ultimate test! Hackers love to experiment. They will test the robustness, functionality, market fit, and user-friendliness of any system presented to them in clever and unexpected ways. You’ll be sure to leave with invaluable feedback on how to improve your product and lasting mindshare amongst upcoming leaders.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <section id="sponsorship-co-host" class="red">
                <div class="container a4">
                    <div class="one unit row">
                        <h2>
                            <span class="shadow">Co-Host</span>
                        </h2>
                    </div>
                    <div class="one unit row">
                        <h3>
                            Be our third dimension.<br>Place a bid with the sponsorship team.
                        </h3>
                    </div>
                    <div class="body">
                        <div class="one half unit row">
                            <div class="column">
                                <ul>
                                    <li>
                                        Work with us to plan Hack Cambridge
                                    </li>
                                    <li>
                                        All reasonable special requests accommodated
                                    </li>
                                    <li>
                                        10 minute Keynote at opening
                                    </li>
                                </ul>
                            </div>
                            <div class="column">
                                <ul>
                                    <li>
                                        Pre-event marketing
                                    </li>
                                    <li>
                                        Send unlimited recruiters
                                    </li>
                                    <li>
                                        Blurb on website
                                    </li>
                                    <li>
                                        All Tera benefits
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <section id="sponsorship-sponsored-meal">
                <div class="container a4 unavailable">
                    <div class="one unit row">
                        <h2>
                            Spon&shy;sored Meal
                        </h2>
                    </div>
                    <div class="one unit row label">
                        <h2>
                            Sold out!
                        </h2>
                    </div>
                    <div class="one unit row">
                        <h3>
                            Dinner or Midnight Snack<br><span class="pixel">£1000</span>
                        </h3>
                    </div>
                    <div class="body">
                        <div class="one unit row">
                            <div class="column">
                                <ul>
                                    <li>
                                        15 Minutes pre-meal stage time
                                    </li>
                                    <li>
                                        Branded dining area
                                    </li>
                                    <li>
                                        Opportunity to speak to hackers over dinner
                                    </li>
                                </ul>
                            </div>
                            <div class="column">
                                <ul>
                                    <li>
                                        Hack Cambridge supplies the meal
                                    </li>
                                    <li>
                                        Available to all sponsors
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <section id="sponsorship-pitch-image" class="four small unit row image" style="background-image: url('{{ asset('images/hc-2018/pitch.jpg') }}')"></section>
            <section id="sponsorship-tiers">
                <div class="container a4">
                    <div class="one unit row">
                        <h2>
                            Sponsorship Tiers
                        </h2>
                    </div>
                    <div class="one unit row">
                        <p>
                            Higher tiers include the benefits of lower tiers.<br>All prices are exclusive of VAT unless otherwise indicated.
                        <p>
                    </div>
                    <div class="body">
                        <div class="three unit row">
                            <div class="column">
                                <h4>
                                    Tera <span class="pixel">£8,000</span>
                                </h4>
                                <ul>
                                    <li>
                                        Award a themed prize
                                    </li>
                                    <li>
                                        Run side-events
                                    </li>
                                    <li>
                                        30 minute workshop slot
                                    </li>
                                    <li>
                                        5 minute presentation at opening ceremony
                                    </li>
                                    <li>
                                        Stall in foyer
                                    </li>
                                    <li>
                                        Send up to 6 recruiters
                                    </li>
                                    <li>
                                        Logo on projector throughout event
                                    </li>
                                </ul>
                            </div>
                            <div class="column">
                                <h4>
                                    Giga <span class="pixel">£5,000</span>
                                </h4>
                                <ul>
                                    <li>
                                        10 minute product demo slot
                                    </li>
                                    <li>
                                        Receive CVs from all attendees before event
                                    </li>
                                    <li>
                                        Award hardware or API prize
                                    </li>
                                    <li>
                                        Large stall at front of food area
                                    </li>
                                    <li>
                                        Advertise hardware and APIs before event
                                    </li>
                                    <li>
                                        Send up to 3 recruiters
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="half unit row shown"></div>
                        <div class="three unit row">
                            <div class="column">
                                <h4>
                                    Mega <span class="pixel">£2,500</span>
                                </h4>
                                <ul>
                                    <li>
                                        Receive CVs from all attendees after event
                                    </li>
                                    <li>
                                        Small stall in food area
                                    </li>
                                    <li>
                                        Your logo on banner at event
                                    </li>
                                    <li>
                                        Send branded swag (pending approval)
                                    </li>
                                    <li>
                                        Send 1 recruiter
                                    </li>
                                </ul>
                            </div>
                            <div class="column">
                                <h4>
                                    Kilo <span class="pixel">£400 incl. VAT</span><br><em>For startups</em>
                                </h4>
                                <ul>
                                    <li>
                                        Bring hardware and list APIs
                                    </li>
                                    <li>
                                        Logo on website
                                    </li>
                                    <li>
                                        Send unlimited number of mentors
                                    </li>
                                    <li>
                                        Announcement on social media
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <section id="sponsorship-contact" class="red">
                <div class="container a4">
                    <div class="one unit row">
                        <h5>
                            Interested?<br><span class="secondary">Contact our dedicated <a href="mailto:sponsorship@hackcambridge.com">sponsorship team &rarr;</a></span>
                        </h5>
                    </div>
                </div>
            </section>
        </main>
    </body>
</html>
