{% extends 'default.html' %}
{% set title = 'Terms and Conditions' %}
{% set footer = true %}
{% set homeLink = true %}
{% set layoutMode = 'a4' %}
{% block pageHeading %}{{title}}{% endblock %}
{% block pageContent %}
  <ul rows="3.5">
    <li>
      Hack Cambridge is an event taking place from 19<sup>th</sup> to 20<sup>th</sup> January 2019 in Cambridge, UK. It will henceforth be referred to as ‘the Event’ or ‘Hack Cambridge’.
    </li>
    <li>
      The Organisers of Hack Cambridge, henceforth referred to as ‘the Organisers’ in this T&amp;C, refer to any or all of the individuals involved with organising the Event in any capacity.
    </li>
    <li>
      The Premises of Hack Cambridge, henceforth referred to as ‘the Premises’ refer to the locations at which the Event is held. These include, but are not necessarily limited to, the entire building of the Cambridge Corn Exchange and Guildhall.
    </li>
    <li>
      ‘Terms and Conditions’ or ‘Agreement’ will refer to these Terms and Conditions, including all of their provisions.
    </li>
  </ul>
{% endblock %}
{% block extraSections %}
  <section color="blue" grid="rows">
    <div class="text-columns" rows="9.5">
      <h4>
        Admittance
      </h4>
      <p>
        Your registration and RSVP entitles you to admittance to Hack Cambridge. Any and all other costs associated with your attendance (including without limitation travel and accommodation expenses) shall be borne solely by you, and Hack Cambridge shall have no liability for such costs. Any travel or hardware reimbursements will be given based on the sole discretion of the Organisers of Hack Cambridge.
      </p>
      <h4>
        Age Requirements
      </h4>
      <p>
        No one under the age of 18 will be admitted.
      </p>
      <h4>
        Intellectual Property
      </h4>
      <p>
        Attendees and participants own any intellectual property they produce at the Event and no sponsors or Organisers will make a claim to Intellectual Property rights of their products or creations.
      </p>
      <h4>
        Use of Likeness
      </h4>
      <p>
        By attending Hack Cambridge you acknowledge and agree to grant the Organisers the right at Hack Cambridge to record, film, photograph, or capture your likeness in any media now available or hereafter developed and to distribute, broadcast, use, or otherwise globally to disseminate, in perpetuity, such media without any further approval from you or any payment to you. This grant to the Organisers includes, but is not limited to, the right to edit such media, the right to use the media alone or together with other information, and the right to allow others to use or disseminate the media.
      </p>
      <h4>
        Event Content
      </h4>
      <p>
        You acknowledge and agree that the Organisers, in their sole discretion, reserves the right to change any and all aspects of the Event, including but not limited to, the Event name, themes, content, programme, speakers, performers, hosts, moderators, venue, and time.
      </p>
      <h4>
        Wristband Usage
      </h4>
      <p>
        Attendee's identifying wristbands must be worn at all times in Event areas. Failure to do so may result in difficulty in entering or re-entering the Premises, or refusal by security staff to allow the attendee to enter or re-enter the Premises. It may also result in expulsion from the Premises by security.
      </p>
      <h4>
        Disruptive or Unethical Conduct
      </h4>
      <p>
        You acknowledge and agree that the Organisers and other security personnel, volunteers at the Event, or staff of Cambridge Live reserve the right to remove you from the Event if the Organisers, in their sole discretion, determine that your presence or behavior create a disruption or hinder the Event or the enjoyment of the Event by other attendees or to be of an unethical or harrassing nature. All wristbands or distributed items (including swag from sponsors) must then be returned to the Organisers upon request. You also agree to abide by the MLH Code of Conduct.<br><a href="http://static.mlh.io/docs/mlh-code-of-conduct.pdf" target="_blank">Read the MLH Code of Conduct</a>
      </p>
    </div>
  </section>
  <section grid="rows">
    <ul rows="6.0">
      <li>
        Except as required by law, the Organisers of Hack Cambridge, or the venue owners Cambridge Live trust, will not be held liable for any property loss or damage, personal injury or death, or any economic loss, howsoever caused, including by the negligence of the Organisers or Cambridge Live. These aforementioned losses or damages or injuries or deaths include those arising directly or indirectly from the Event or any other aspect related thereto or in connection with the Event or this Agreement.
      </li>
      <li>
        The Organisers or Cambridge Live will not be held liable for any property damage or loss, personal injury or death arising from the behaviour or actions of any attendees of the Event. Attendees can include, but are not limited to volunteers, representatives from any companies, mentors, judges, room hosts or the Organisers themselves. This includes behaviour or actions before, during, after the Event, or are in any way connected to the Event.
      </li>
      <li>
        The Organisers give no warranties in respect of any aspect of the Event or any materials related thereto or offered at the Event and, to the fullest extent possible under the laws governing this Agreement, disclaims all implied warranties, including but not limited to warranties of fitness for a particular purpose, accuracy, timeliness, and merchantability. The Event is provided on an ‘as-is’ basis. The Organisers do not accept any responsibility or liability for reliance by you or any person on any aspect of the Event or any information provided at the Event.
      </li>
      <li>
        Each attendee must take reasonable steps to ensure their own safety and the safety of others, as well as take reasonable care of the property of theirselves and others. This especially applies to circumstances where they are tired, when they are working with hardware and potentially dangerous equipment, as well as when they are consuming any food or drink. They will check that the food or drink complies with their dietary requirements, if any.
      </li>
    </ul>
  </section>
  <section color="red" grid="rows">
    <h3 rows="0.5">Reimbursements</h3>
    <ul rows="3.5">
      <li>
        Do note that accommodation reimbursements will be prioritised beneath travel reimbursements and therefore should not be depended upon. They will also both be part of the total reimbursements cap we are aiming to provide. Note that none of this constitutes a guarantee of reimbursement—whether we reimburse and how much is solely at our discretion.
      </li>
      <li>
        The Organisers of Hack Cambridge give no warranties or legal guarantees in respect of any aspect of the travel or accommodation reimbursements offered and, to the fullest extent possible under applicable laws, disclaims all implied warranties.
      </li>
      <li>
        The Organisers of Hack Cambridge will not accept any responsibility or liability for reliance by you or any person on any aspect of the aforementioned reimbursements or any related information provided. We reserve sole discretion to reimburse or refuse to reimburse any expenses.
      </li>
    </ul>
  </section>
  <section grid="rows">
    <ul rows="4.5">
      <li>
        Neither party shall be liable to the other for any failure to perform any obligation under the common law or under any Agreement which is due to an event beyond the control of such party including but not limited to any Act of God, terrorism, war, Political insurgence, insurrection, riot, civil unrest, act of civil or military authority, uprising, earthquake, flood or any other natural or man made eventuality outside of our control, which causes the property damage or loss or death or injury any parties, or termination of an agreement or contract entered into. Any party affected by such event shall forthwith inform the other party of the same and shall use all reasonable endeavors to comply with the terms and conditions of any Agreement contained herein.
      </li>
      <li>
        The Organisers’ failure to exercise any right provided for herein shall not be deemed a waiver of any further rights hereunder. The Organisers shall not be liable for any failure to perform their obligations hereunder where such failure results from any cause beyond the Organisers’ reasonable control. If any provision of these Terms and Conditions is found to be unenforceable or invalid, that provision shall be limited or eliminated to the minimum extent necessary so that these Terms and Conditions shall otherwise remain in full force and effect and enforceable. No agency, partnership, joint venture, or employment is created as a result of these Terms and Conditions and you acknowledge that you do not have any authority of any kind to bind the Organisers or the Event or Cambridge Live in any respect whatsoever.
      </li>
    </ul>
  </section>
{% endblock %}
