/* Colour variables */

:root {
  --red: #ef1d13;
  --blue: #1abce9;
}

/* Sections */

section, header, footer {
  --color-1: white;
  --color-2: black;
  --color-3: var(--red);
  --color-4: var(--blue);
}
section[color="blue"], header[color="blue"], footer[color="blue"] {
  --color-1: var(--blue);
  --color-2: white;
  --color-3: white;
  --color-4: black;
}
section[color="red"], header[color="red"], footer[color="red"] {
  --color-1: var(--red);
  --color-2: white;
  --color-3: white;
  --color-4: black;
}
section, header, footer {
  --primary-color: var(--color-1);
  --secondary-color: var(--color-2);
  --accent-color: var(--color-3);
  --subtle-accent-color: var(--color-4);
  background-color: var(--primary-color);
  color: var(--secondary-color);
}

/* Selections */

::selection {
  background: var(--subtle-accent-color);
  color: var(--primary-color);
}
-moz-::selection {
  background: var(--subtle-accent-color);
  color: var(--primary-color);
}

h4 {
  border-top-color: var(--accent-color);
}
