/* Variables
   ========================================================================== */

$fontFamily = 'Clear Sans', 'Helvetica Neue', 'Arial', sans-serif;

$punit = 20px;

$colorPrimary = #AF3434;
$colorSecondary = #FFFFFFFFF;
$colorDark = #121421;
$textColor = #333333;
$backgroundColor = #AF3434;

$logoColor1 = #FB8F58;
$logoColor2 = #DE0866;
$logoColor3 = #AC41EC;

$black = #000;

gray($amount) {
  return lighten($black, $amount);
}

$grayDarker = gray(15%);
$grayDark = gray(30%);
$gray = gray(50%);
$grayLight = gray(70%);
$grayLighter = gray(85%);
$grayLightest = gray(95%);
