/* Variables
   ========================================================================== */

$fontFamily = 'Clear Sans', 'Helvetica Neue', 'Arial', sans-serif;

$punit = 20px;

$colorPrimary = #FB8F58;
$colorSecondary = #7E89C5;
$textColor = #333333;
$backgroundColor = #FFF;

$logoColor1 = #FB8F58;
$logoColor2 = #DE0866;
$logoColor3 = #AC41EC;

$black = #000;

$gray = lighten($black, 50%)
$grayLight = lighten($black, 70%);
$grayLighter = lighten($black, 85%);
$grayLightest = lighten($black, 95%);
