:root {
  --border: 1pt solid;
}

figure {
  margin: unset;
}

img {
  justify-self: stretch;
}

/* Forms */

input, form, body, button, fieldset, textarea {
  margin: unset;
  padding: unset;
}
input, form, body, button, fieldset, textarea, select {
  outline: none;
  box-shadow: none;
  border-radius: 0;
}
input[type="file"]::-webkit-file-upload-button {
  margin: unset;
  padding: unset;
  outline: none;
  border-radius: 0;
  -webkit-appearance: none;
}

input {
  color: var(--secondary-color);
  background-color: unset;
  border: var(--border) rgba(255,255,255,0);
  box-sizing: border-box;
  box-shadow: unset;
}
input[type="file"]::-webkit-file-upload-button {
  color: var(--secondary-color);
  background-color: unset;
  border: var(--border) rgba(255,255,255,0);
  box-sizing: border-box;
  box-shadow: unset;
}

input[placeholder]{
  text-overflow: ellipsis;
}

input:placeholder-shown {
  border-bottom: var(--border) var(--accent-color);
}

input[type="submit"],
button,
input[type="button"] {
  background-color: unset;
  color: var(--accent-color);
  border: var(--border) var(--accent-color);
}
input[type="file"]::-webkit-file-upload-button {
  background-color: unset;
  color: var(--accent-color);
  border: var(--border) var(--accent-color);
}

select{
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  margin: 0;
  border: var(--border) var(--secondary-color);
  background: none;
}

input[type="email"],
input[type="text"],
input[type="number"],
input[type="month"],
input[type="date"] {
  border-left: unset;
  border-right: unset;
  text-indent: 0.75pt;
  width: 100%;
}

input[type="email"]:not(:invalid),
input[type="text"]:not(:invalid),
input[type="number"]:not(:invalid),
input[type="month"]:not(:invalid),
input[type="date"]:not(:invalid) {
  border-bottom: var(--border) var(--secondary-color);
}
input[type="email"]:invalid,
input[type="text"]:invalid,
input[type="number"]:invalid,
input[type="month"]:invalid,
input[type="date"]:invalid {
  border-top-color: transparent;
  border-bottom: var(--border) var(--accent-color);
}

label {
  display: inline;
}

input[type="email"]:-webkit-autofill {
  -webkit-text-fill-color: var(--primary-color);
  border-bottom: var(--border) var(--accent-color);
}

input::placeholder, ::placeholder {
  color: var(--subtle-accent-color);
}

::-moz-placeholder {
  opacity: 1;
}

input[type="button"], button, select {
  padding: 0 4px;
}
input[type="file"]::-webkit-file-upload-button {
  padding: 0 4px;
}

textarea {
  resize: none;
  height: var(--one);
  width: 100%;
  border: var(--border) var(--secondary-color);
  -webkit-appearance: none;
}

fieldset {
  border-width: 0;
  padding: 0;
}

legend {
  padding: 0;
  font-size: 14pt;
  font-weight: lighter;
  margin-bottom: var(--gutter);
}

input[type="submit"]:hover:not([disabled]),
input[type="button"]:hover:not([disabled]),
button:hover:not([disabled]) {
  background-color: var(--secondary-color);
  color: var(--primary-color);
  border-color: var(--secondary-color);
}
input[type="file"]:hover:not([disabled])::-webkit-file-upload-button {
  background-color: var(--secondary-color);
  color: var(--primary-color);
  border-color: var(--secondary-color);
}

input[type="submit"]:active:not([disabled]),
input[type="button"]:active:not([disabled]),
button:active:not([disabled]) {
  background-color: unset;
  color: var(--secondary-color);
  border-color: var(--secondary-color);
}
input[type="file"]:active:not([disabled])::-webkit-file-upload-button {
  background-color: unset;
  color: var(--secondary-color);
  border-color: var(--secondary-color);
}
input[disabled],
button[disabled] {
  opacity: 0.5;
}
[data-field-validator-error] input,
[data-field-validator-error] textarea,
[data-field-validator-error] select,
[data-controller] input:invalid:not([type="file"]):not([type="email"]):not([type="text"]):not([type="number"]):not([type="month"]):not([type="date"]),
[data-controller] textarea:invalid,
[data-controller] select:invalid {
  border-color: var(--accent-color);
}
input[type="file"]:invalid {
  color: var(--accent-color);
}
[data-field-validator-error] .requirement {
  color: var(--accent-color);
}

/* Sections */

section:not([color]) + section:not([color]),
section[color="red"] + section[color="red"],
section[color="blue"] + section[color="blue"],
header:not([color]) + main section:first-child:not([color]),
footer {
  overflow: hidden;
  border-top: var(--border) var(--subtle-accent-color);
}

/* Tables */

table {
  width: 100%;
  border-spacing: var(--gutter) 4pt;
  margin: 0 calc(var(--gutter) * -1);
}
th {
  text-align: left;
}
table, th, td {
  padding: 0;
}
td:not(:first-child) {
  margin-left: var(--gutter);
}

/* Hide submit button on touch devices (since the keyboard will have one) */

@media (pointer: coarse), (pointer: none) {
  input[type="submit"] {
    display: none;
  }
  
  form[grid="columns"] > *:nth-last-child(2n)),
  form[grid="grid"] > *:nth-last-child(2n) {
    margin-right: unset;
  }
}
