/* ==========================================================================
   Event Page
   ========================================================================== */

/* Intro
   ========================================================================== */

 .section-event-intro {
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: left;
   position: relative;

   box-sizing: border-box;
   width: 100%;
   min-height: 100%;
   min-height: calc(100% - 40px);
   padding: ($punit * 3) 0;

   dark-background();
   color: #fff;
   font-weight: 300;
 }

 .event-logo {
   max-width: 100%;
   width: 400px;
 }

.event-nav {
  margin: 10px -10px;

  .event-nav-button {
    color: #fff;
    font-size: 1.2em;
    padding: 20px 10px;
    transition: background-color 0.2s;
    display: inline-block;

    &:hover {
      text-decoration: none;
      background-color: alpha($colorSecondary, 8%);
    }

    &:active {
      background-color: alpha($colorSecondary, 15%);
    }
  }
}

/* Prizes
   ========================================================================== */

.section-event-prizes {
  padding: $punit * 3 0;
  main-background();
}

/* Prizes
   ========================================================================== */

/* Schedule
   ========================================================================== */

.section-event-timetable {
  dark-background();
  color: #fff;
  padding: ($punit * 4) 0;
}

.event-timetable-workshops {
  border-left: 2px solid darken($colorSecondary, 30%);
  padding-left: $punit;
  margin-left: 40px;
}

.event-workshop-time {
  position: absolute;
  left: (~$punit - 50px);
  padding-right: 10px;
  box-sizing: border-box;
  top: 3px;
  width: 50px;
  text-align: right;
  color: lighten($colorSecondary, 20%);
  letter-spacing: 0.05em;
  font-size: 0.9em;

  &::before {
    position: absolute;
    content: ' ';
    display: block;
    width: 6px;
    border-bottom: 2px solid darken($colorSecondary, 30%);
    right: 0;
    top: 8px;
  }
}

.event-workshop-decorator {
  text-transform: uppercase;
  font-size: 0.8em;
  font-weight: bold;
  opacity: 0.5;
  margin: 5px 0;
  line-height: 1;
}

.event-workshop-location {
  margin-top: -15px;
  color: $colorSecondary;
  letter-spacing: 0.05em;
  font-size: 0.9em;
}

.event-workshop {
  position: relative;
  margin-bottom: ($punit * 2);
}

@media (min-width: 900px) {
  .event-timetable-workshops {
    margin-left: 0;
  }
}
