/* ==========================================================================
   Welcome Section
   ========================================================================== */

.landing-welcome-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: left;
  position: relative;

  box-sizing: border-box;
  width: 100%;
  min-height: 100%;
  padding: ($punit * 3) 0;

  main-background();
  color: $colorSecondary;
  font-weight: 300;
}

.landing-welcome-content {
  @extend .content-wrapper;
}

.landing-welcome-dates {
  margin-bottom: ($punit * 2);
}

.landing-welcome-logo {
  width: 100%;
  max-width: 400px;
  height: auto;
}

.subscribe-form-output {
  padding-top: 10px;
  margin: 0;
}

.landing-welcome-subscribe-form {
  width: 100%;
  max-width: 500px;
}

.landing-welcome-lower-caret svg {
  position: absolute;
  left: 50%;
  bottom: 20px;

  width: 40px;
  height: auto;
  margin-left: -20px;

  fill: none;
  stroke: $grayLighter;
  stroke-width: 2px;

  animation: updown 3s alternate infinite;
  position: absolute;

  @media only screen and (min-height: 600px) {
    bottom: 40px;
    width: 80px;
    height: 40px;
    margin-left: -40px;
  }
}

a.apply-link {
  display: inline-block;
  margin-element();
  padding: 8px 10px;
  border-radius: 2px;

  box-shadow: 0 1px 1px rgba(255, 255, 255, 0.7) inset;

  font-size: 1em;
  font-weight: 300;
  cursor: pointer;
  transition: transform 0.6s;
  color: rgba(255, 255, 255, 0.8);

  animation: rotateBrand;
  animation-duration: 10s;
  animation-fill-mode: both;
  animation-iteration-count: infinite;

  &:hover {
    text-decoration: none;
    transform: scale(1.1);
  }

  &:active {
    transform: scale(0.9);
  }
}

/* Subscribe Form
   ========================================================================== */

.subscribe-form-input-container {
  display: flex;
  position: relative;
  padding-bottom: 7px;
}

.subscribe-form-underbar {
  position: absolute;
  left: 0;
  bottom: 0;
  right: 0;

  display: block;
  height: 2px;

  background: $grayLighter;

  transition: background 0.2s;

  .subscribe-form-email:focus ~ & {
    background: $colorPrimary;
  }
}

.subscribe-form-email {
  flex: 1 1 auto;
  background: transparent;
  border: none;
  font-size: 1.2em;
  box-shadow: none;
  min-width: 0;

  &:focus {
    outline: none;
    box-shadow: none;
  }

  &::placeholder {
    opacity: 1;
    color: $grayLighter;
  }
}

.subscribe-form-submit {
  flex: 0 0 auto;
  background: transparent;
  border: none;

  color: $gray;

  transition-property: color transform;
  transition-duration: 0.2s;

  &:hover, &:focus {
    color: $colorPrimary;
    outline: none;
  }

  &:active {
    transform: translate(0, 5px);
  }
}

/* welcome animation
   ========================================================================== */

.landing-welcome-section {
  .hack-logo-cambridge-text {
    for $num in (1..9) {
      path:nth-child({$num}) {
        animation: logoAnimateIn;
        animation-delay: (1 + $num * 0.1)s
        animation-duration: 2s;
        animation-fill-mode: both;
      }
    }
  }
}

.landing-welcome-logo ~ *, .landing-welcome-lower-caret {
  animation: fadeIn;
  animation-duration: 2s;
  animation-delay: 2.5s;
  animation-fill-mode: both;

  &.apply-link-container {
    animation-delay: 1s;
  }
}

@keyframes logoAnimateIn {
  0% { opacity: 0; fill $colorPrimary; }
  20% { fill: $colorPrimary; }
  25% { opacity: 1; }
  50% { fill: #B72CD6; }
  70% { fill: #000; }
  100% { opacity: 1; }
}

@keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

@keyframes rotateBrand {
  0% { background-color: $logoColor1; }
  35% { background-color: $logoColor2; }
  60% { background-color: $logoColor3; }
  100% { background-color: $logoColor1; }
}

@keyframes updown {
  from { transform: translate(0, -25%); }
  to { transform: translate(0, 25%); }
}

.landing-welcome-social-links {
  list-style: none;
  padding: 0;

  li {
    padding: 10px 0;
    margin: 0;
  }

  svg {
    width: 17px;
    fill: #3F4359;
    vertical-align: bottom;
    position: absolute;
    left: 0;
    bottom: 0;

    transition: fill 0.2s;
  }

  a {
    color: desaturate(lighten($colorSecondary, 30%), 20%);
    text-decoration: none;
    position: relative;
    padding-left: 30px;

    transition: color 0.2s;

    &:hover {
      color: $colorSecondary;

      svg {
        fill: $colorSecondary;
      }

      .social-link-text {
        text-decoration: underline;
      }
    }
  }
}

/* ==========================================================================
   About Sections
   ========================================================================== */

$home-light-section {
  padding: ($punit * 6) 0;

  color: $gray;

  .grand-heading {
    color: $colorSecondary;
  }
}

.landing-cambridge-photo-section {
  overflow: hidden;
  box-sizing: border-box;
  min-height: 200px;

  background-size: cover;
  background-position: bottom center;
  background-image: url(../images/cambridge-kings-photo.jpg);

  &::before {
    content: ' ';
    display: block;
    padding-top: 33.3%;
  }
}

.landing-intro-section {
  main-background();
  @extend $home-light-section;
}

.landing-venue-section {
  padding: $punit * 3 0;

  background-size: cover;
  background-position: top center;
  background-color: $colorDark;
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  background-image: url(../images/corn-exchange-photo.jpg);

  .grand-heading {
    margin-bottom: 10px;
  }

  p {
    margin-bottom: $punit * 2;
    font-weight: 300;
    font-size: 1.2em;
  }

  .content-wrapper-standard {
    margin: 0 auto;
    text-align: center;
    color: #fff;
    width: 100%;
  }
}

.landing-location-map {
  position: relative;

  display: block;
  width: 300px;
  height: 300px;
  max-width: 100%;
  margin: 0 auto;
  margin-bottom: -100px;

  background-size: cover;
  background-position: center;
  background-image: url(../images/location-map.png);
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);

  &:hover .landing-location-marker{
    transform: scale(1.2) translate(0, -2px);
  }
}

.landing-location-marker {
  position: absolute;
  left: 50%;
  bottom: 50%;

  width: 30px;
  height: auto;
  margin-left: -10px;

  transition: transform 0.2s;
  transform-origin: bottom center;
}

/* ==========================================================================
   FAQs Section
   ========================================================================== */

.landing-faqs-section {
  @extend $home-light-section;

  .content-wrapper {
    width: 1000px;
  }

  .faqs-listing {
    @extend .clearfix;

    margin: 0 (-1 * $punit);
  }

  .faq-element {
    width: 100%;
    padding: ($punit);
    display: inline-block;
    box-sizing: border-box;
    vertical-align: top;
  }

  @media only screen and (min-width: 500px) {
    .faq-element {
      width: 50%;
    }
  }

  @media only screen and (min-width: 800px) {
    .faq-element {
      width: 33.33%;
    }
  }
}

/* ==========================================================================
   Sponsors Section
   ========================================================================== */

// `sponsor` triggers ad blockers. Now we user `helper`
.helpers-container {
  margin: ($punit * 2) (-1 * $punit);

  .helper-link {
    display: inline-block;
    vertical-align: middle;
    margin: $punit;
    max-width: 100%;

    img {
      max-width: 100%;
    }
  }

  $sponsorSizes = (tera 600px 400px) (giga 350px 250px) (mega 200px 150px) (kilo 140px 80px);

  for $sponsor in $sponsorSizes {
    &-{$sponsor[0]} {
      .helper-link-wide img {
        width: ($sponsor[1] / 2);
      }

      .helper-link-tall img {
        height: ($sponsor[2] / 2);
      }
    }
  }

  @media only screen and (min-width: 600px) {
    margin: ($punit * 4) (-1 * $punit);

    for $sponsor in $sponsorSizes {
      &-{$sponsor[0]} {
        .helper-link-wide img {
          width: ($sponsor[1]);
        }

        .helper-link-tall img {
          height: ($sponsor[2]);
        }
      }
    }
  }
}

.landing-helpers-section {
  padding: $punit * 3 0;

  dark-background();
  color: #fff;
}

.landing-footer {
  font-size: 0.9em;
  margin-top: 200px;
  color: $grayLight;
}
