/* ==========================================================================
   Welcome Section
   ========================================================================== */

.landing-welcome-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: left;

  box-sizing: border-box;
  width: 100%;
  min-height: 100%;
  padding: ($punit * 3) 0;

  main-background();
  color: $colorSecondary;
  font-weight: 300;
}


.landing-welcome-content {
  @extend .content-wrapper;
}

.landing-welcome-dates {
  margin-bottom: ($punit * 4);
}

.landing-welcome-logo {
  width: 100%;
  max-width: 400px;
  height: auto;
}

.subscribe-form-output {
  padding-top: 10px;
  margin: 0;
}

.landing-welcome-subscribe-form {
  width: 100%;
  max-width: 500px;
}

/* Subscribe Form
   ========================================================================== */

.subscribe-form-input-container {
  display: flex;
  position: relative;
  padding-bottom: 7px;
}

.subscribe-form-underbar {
  position: absolute;
  left: 0;
  bottom: 0;
  right: 0;

  display: block;
  height: 2px;

  background: $grayLighter;

  transition: background 0.2s;

  .subscribe-form-email:focus ~ & {
    background: $colorPrimary;
  }
}

.subscribe-form-email {
  flex: 1 1 auto;
  background: transparent;
  border: none;
  font-size: 1.2em;
  box-shadow: none;
  min-width: 0;

  &:focus {
    outline: none;
    box-shadow: none;
  }

  &::placeholder {
    opacity: 1;
    color: $grayLighter;
  }
}

.subscribe-form-submit {
  flex: 0 0 auto;
  background: transparent;
  border: none;

  color: $gray;

  transition-property: color transform;
  transition-duration: 0.2s;

  &:hover, &:focus {
    color: $colorPrimary;
    outline: none;
  }

  &:active {
    transform: translate(0, 5px);
  }
}

/* welcome animation
   ========================================================================== */

.landing-welcome-section {

  .hack-logo-cambridge-text {
    for $num in (1..9) {
      path:nth-child({$num}) {
        animation: logoAnimateIn;
        animation-delay: (1 + $num * 0.1)s
        animation-duration: 2s;
        animation-fill-mode: both;
      }
    }
  }
}

.landing-welcome-logo ~ * {
  animation: fadeIn;
  animation-duration: 2s;
  animation-delay: 2.5s;
  animation-fill-mode: both;
}

@keyframes logoAnimateIn {
  0% { opacity: 0; fill $colorPrimary; }
  20% { fill: $colorPrimary; }
  25% { opacity: 1; }
  50% { fill: #B72CD6; }
  70% { fill: #000; }
  100% { opacity: 1; }
}

@keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

.landing-welcome-social-links {
  list-style: none;
  padding: 0;

  li {
    padding: 10px 0;
    margin: 0;
  }

  svg {
    width: 20px;
    fill: darken($backgroundColor, 20%);
    vertical-align: bottom;
    position: absolute;
    left: 0;
    bottom: 0;
  }

  a {
    color: currentColor;
    text-decoration: none;
    position: relative;
    padding-left: 30px;

    &:hover {
      svg {
        fill: currentColor;
      }

      .social-link-text {
        text-decoration: underline;
      }
    }
  }
}

/* ==========================================================================
   About Sections
   ========================================================================== */

.landing-cambridge-photo-section {
  overflow: hidden;
  box-sizing: border-box;
  min-height: 200px;

  background-size: cover;
  background-position: bottom center;
  background-image: url(../images/cambridge-kings-photo.jpg);

  &::before {
    content: ' ';
    display: block;
    padding-top: 33.3%;
  }
}

.landing-intro-section {
  main-background();
  padding: $punit * 3 0;
}

.landing-venue-section {
  padding: $punit * 3 0;
  box-sizing: border-box;
  min-height: 400px;
  display: flex;
  flex-direction: column;
  justify-content: center;

  background-size: cover;
  background-position: bottom center;
  dark-background();

  .content-wrapper {
    margin: 0 auto;
    text-align: center;
    color: #fff;
    width: 100%;
  }
}

/* ==========================================================================
   FAQs Section
   ========================================================================== */

.landing-faqs-section {
  padding: $punit * 3 0;

  .content-wrapper {
    width: 1000px;
  }

  .faqs-listing {
    @extend .clearfix;

    margin: 0 ($punit / -2);
  }

  .faq-element {
    width: 100%;
    padding: ($punit / 2);
    float: left;
    box-sizing: border-box;
  }

  @media only screen and (min-width: 500px) {
    .faq-element {
      width: 50%;
    }
  }

  @media only screen and (min-width: 800px) {
    .faq-element {
      width: 33.33%;
    }
  }
}

/* ==========================================================================
   Sponsors Section
   ========================================================================== */

.landing-sponsors-section {
  padding: $punit * 3 0;

  dark-background();
  color: #fff;
}

.landing-footer {
  font-size: 0.9em;
  margin-top: 200px;
  color: $grayLight;
}
