/* Universal Stuff
   ========================================================================== */

body {
  width: 100%;
  height: 100%;

  font-family: $fontFamily;
  font-size: 16px;
  line-height: 1.2;
  color: $textColor;

  background-color: $backgroundColor;
}

html {
  position: absolute;
  top: 0;
  left: 0;

  width: 100%;
  height: 100%;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

main-background() {
  background-image: radial-gradient(circle at top center, $backgroundColor 0%, darken($backgroundColor, 5%) 100%);
}

dark-background() {
  background-image: radial-gradient(circle at top center, #323647 0%, $colorDark 100%);
}

.clearfix {
  &::after {
    content: '';
    display: table;
    clear: both;
  }
}

content-wrapper() {
  box-sizing: border-box;
  max-width: 100%;
  padding-left: ($punit);
  padding-right: ($punit);

  @media only screen and (min-width: 500px) {
    padding-left: ($punit * 2);
    padding-right: ($punit * 2);
  }
}

content-wrapper-left() {
  content-wrapper()

  @media only screen and (min-width: 900px) {
    padding-left: ($punit * 6);
  }
}

.content-wrapper {
  content-wrapper-left();
  width: 900px;
}

.content-wrapper-standard {
  content-wrapper();
}

.content-wrapper-thin {
  content-wrapper-left();
  width: 700px;
}

/* Typography
   ========================================================================== */

margin-element() {
  margin-top: 1em;
  margin-bottom: 10px;

  &:first-child {
    margin-top: 0;
  }

  &:last-child {
    margin-bottom: 0;
  }
}

h1 { font-size: 1.2 * 1.2 * 1.2; }
h2 { font-size: 1.2 * 1.2; }
h3 { font-size: 1.2em; color: $grayDark; }
h4 { font-size: 1em; }
h5 { font-size: 1 / 1.2; }
h6 { font-size: 1 / 1.2 / 1.2; }

h1, h2, h3, h4, h5, h6, ul, ol, li, p {
  margin-element();
}

h1, h2, h3, .grand-heading {
  font-weight: 300;
}

h1, .grand-heading {
  margin-bottom: 40px;
  font-size: 2em;
  font-weight: 100;

  @media only screen and (min-width: 600px) {
    font-size: 3em;
  }
}

a, a:visited {
  color: $colorSecondary;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

/* Default layout
   ========================================================================== */

.default-header {
  margin-top: ($punit * 4);
  margin-bottom: ($punit * 2);

  .header-link svg {
    width: 100%;
    max-width: 250px;
    height: auto;
  }
}

.default-main {
  margin: ($punit * 2) 0;
}

.default-footer {
  margin: ($punit * 2) 0;
  font-size: 0.9em;
  color: $gray;
}

.embedded-form {
  position: absolute;
  left: 0;
  top: 0;
  display: block;

  width: 100%;
  height: 100%;
  border: none;
  padding: 0;
}

.cohost-logo-text {
  margin-top: 5px;

  text-transform: uppercase;
  letter-spacing: 0.1em;
  font-size: 0.8em;
  font-weight: 500;
  color: lighten($colorSecondary, 40%);
}

.cohost-logo-image {
  margin-left: 5px;

  height: 12px;
}

.mlh-trust-badge {
  position: fixed;
  top: 0;
  right: 50px;

  max-width: 100px;
  width: 10%;
  min-width: 60px;
  display: block;
  z-index: 10000;

  img {
    width: 100%;
  }
}
