@import 'normalize.css/normalize.css';

/* Variables
   ========================================================================== */

$fontFamily = 'Dosis', 'Gill Sans', 'Helvetica Neue', 'Arial', sans-serif;

$punit = 20px;

$colorPrimary = #47C1EF;
$textColor = #333333;
$backgroundColor = #E6E3DA;

/* Universal Stuff
   ========================================================================== */

html, body {
  font-family: $fontFamily;
  font-size: 16px;
  line-height: 1.2;
  color: $textColor;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0,0,0,0);
  border: 0;
}

/* Pages
   ========================================================================== */

.page-container {
  position: absolute;
  top: 0;
  left: 0;

  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  min-height: 100%;
  width: 100%;

  background-color: $backgroundColor;
}

/* Center Content Page
   ========================================================================== */

.center-content-page-container {
  padding: ($punit * 3) $punit;
  justify-content: center;
  align-items: center;
}

.center-content-container {
  width: 400px;
  max-width: 100%;
  text-align: center;
}

.page-main-logo {
  margin-bottom: $punit / 2;

  .logo-hack-path {
    fill: $colorPrimary;
  }

  .logo-cambridge-path {
    fill: $textColor;
  }
}

/* Subscribe Page
   ========================================================================== */

.subscribe-dates {
  margin-bottom: 1em;

  font-size: 1.4em;
  letter-spacing: 0.1em;
  opacity: 0.8;
}

.subscribe-prefix {
  margin-bottom: 0;
}

.subscribe-form-control {
  display: block;
  margin: $punit auto;
  margin-top: 0;
  box-sizing: border-box;
  padding: ($punit / 2);
  padding-bottom: ($punit / 2 - 2);

  text-align: center;
  font-size: 1.5em;
  font-weight: bold;

  background: transparent;
  border: none;
  border-bottom: 2px solid alpha($textColor, 0.5);

  transition: border-bottom-color 0.2s;

  &:focus {
    outline: none;
    border-bottom-color: $textColor;
  }

  &::placeholder {
    opacity: 0.5;
    color: $textColor;
  }
}

.subscribe-form-submit {
  display: block;
  max-width: 200px;
  margin: $punit auto;

  box-sizing: border-box;
  padding: ($punit / 3) ($punit / 2);

  background: none;
  border: 2px solid alpha($textColor, 0.5);
  font-size: 1.2em;

  transition-property: border-color, transform;
  transition-duration: 0.2s;

  &:hover, &:focus {
    outline: none;
    border-color: $textColor;
  }

  &:active {
    transform: scale(0.9);
  }
}

/* Footer
   ========================================================================== */



.footer-social-link {
  display: inline-block;
  width: 40px;

  margin-right: ($punit / 2);

  svg {
    fill: $textColor;
    transition: fill 0.2s;
  }

  &:last-child {
    margin-right: 0;
  }
}

.footer-social-facebook {
  &:hover, &:focus {
    svg {
      fill: #3b5998;
    }
  }
}

.footer-social-twitter {
  &:hover, &:focus {
    svg {
      fill: #55acee;
    }
  }
}

.center-content-footer {
  width: 400px;
  max-width: 100%;
  text-align: center;
}

@media (min-width: 600px){
  .footer-social-links {
    display: inline-block;
    margin-right: ($punit / 2);
    vertical-align: bottom;
  }

  .center-content-footer {
    position: absolute;
    left: $punit;
    right: $punit;
    bottom: $punit;
    z-index: 0;

    width: auto;

    text-align: left;
  }
}
