.payment-form-container {
  width: 400px;
  max-width: 100%;
  padding: $punit;
  box-sizing: border-box;
  background: #fff;
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, .2), 0 0 1px rgba(0, 0, 0, 0.1);
}

.payment-page {
  min-height: 100%;
  display: flex;
  dark-background();
  padding: $punit;
  box-sizing: border-box;
  justify-content: center;
  align-items: center;

}

.payment-form-heading {
  font-size: 2em;
  color: $colorSecondary;
  margin-bottom: 10px;
}

.payment-form-description {
  font-size: 0.9em;
  color: $gray;
  margin-bottom: $punit;
}
