/* ==========================================================================
   Syles for the presentation page
   ========================================================================== */

.event-viewer-container {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  dark-background();
  color: #fff;

  display: flex;
  align-items: center;
  justify-content: center;
}

.event-viewer {
  width: 1600px;
  height: 900px;
  flex: 0 0 auto;
}
