input[type="radio"], 
input[type="checkbox"] {
  height: 1em;
  width: 1em;
  vertical-align: middle;
  border: 1px solid;
  -webkit-appearance: none;
  -moz-appearance: none;
  position: relative;
}

/* border radius for radio*/
input[type="radio"] {
  -webkit-border-radius: 100%;
  border-radius: 100%;
}

/* focus state */
input[type="radio"]:focus,
input[type="checkbox"]:focus {
  outline: none;
}

input[type="radio"]:checked:before,
input[type="checkbox"]:checked:before {
  display: inline-block;
  vertical-align: top;
  font-size: 0.9em;
  line-height: 0.9;
  width: 1em;
  text-align: center;
}

/* radio checked */
input[type="radio"]:checked:before {
  content: '•';
}

/* checkbox checked */
input[type="checkbox"]:checked:before {
  content: 'X';
}

/* disabled input */
input:disabled {
opacity: .6;
box-shadow: none;
background: rgba(0, 0, 0, 0.1);
box-shadow:none;
}

/* style label for disabled input */
input:disabled + label {
opacity: .6;
cursor:default;
-webkit-user-select: none;
}
