/* Variables */

:root {
    --one: 57pt;
    --two: calc(var(--one) * 2);
    --three: calc(var(--one) * 3);
    --four: calc(var(--one) * 4);
    --five: calc(var(--one) * 5);
    --six: calc(var(--one) * 6);
    --seven: calc(var(--one) * 7);
    --eight: calc(var(--one) * 8);
    --nine: calc(var(--one) * 9);
    --ten: calc(var(--one) * 10);
    --eleven: calc(var(--one) * 11);
    --twelve: calc(var(--one) * 12);
    --thirteen: calc(var(--one) * 13);
    --fourteen: calc(var(--one) * 14);
    --gutter: 13pt;
    --half: calc(var(--one) / 2);
}

/* Reset margins and padding */

div {
    margin: 0;
    padding: 0;
}

/* Container */

div.container {
    display: flex;
    flex-direction: column;
}

div.container.a4 {
    position: relative;
    width: 484pt;
    margin: 0 auto;
}

div.container.width {
    margin: 0 var(--one);
}

/* Basic grid */

.row {
    display: flex;
    flex-direction: row;
}

.column {
    margin: 0;
}

/* Columns */
 
.column {
    flex: 1;
}

.one.unit.column {
    flex: var(--one);
}
.two.unit.column {
    flex: var(--two);
}
.three.unit.column {
    flex: var(--three);
}
.four.unit.column {
    flex: var(--four);
}
.five.unit.column {
    flex: var(--five);
}
.six.unit.column {
    flex: var(--six);
}
.seven.unit.column {
    flex: var(--seven);
}

.one.small.unit.column {
    flex: calc(var(--one) - var(--gutter));
}
.two.small.unit.column {
    flex: calc(var(--two) - var(--gutter));
}
.three.small.unit.column {
    flex: calc(var(--three) - var(--gutter));
}
.four.small.unit.column {
    flex: calc(var(--four) - var(--gutter));
}
.five.small.unit.column {
    flex: calc(var(--five) - var(--gutter));
}
.six.small.unit.column {
    flex: calc(var(--six) - var(--gutter));
}
.seven.small.unit.column {
    flex: calc(var(--seven) - var(--gutter));
}

.half.unit.column {
    flex: var(--half);
}
.one.half.unit.column {
    flex: calc(var(--one) + var(--half));
}
.two.half.unit.column {
    flex: calc(var(--two) + var(--half));
}
.three.half.unit.column {
    flex: calc(var(--three) + var(--half));
}
.four.half.unit.column {
    flex: calc(var(--four) + var(--half));
}
.five.half.unit.column {
    flex: calc(var(--five) + var(--half));
}
.six.half.unit.column {
    flex: calc(var(--six) + var(--half));
}

@media (min-width: 596pt) {
    
    .row:not(form) > *:not(:first-child) {
        margin-left: var(--one);
    }
    
    /* h-unit */

    .one.unit.h {
        width: var(--one);
    }
    .two.unit.h {
        width: var(--two);
    }
    .three.unit.h {
        width: var(--three);
    }
    .four.unit.h {
        width: var(--four);
    }
    .five.unit.h {
        width: var(--five);
    }
    .six.unit.h {
        width: var(--six);
    }
    .seven.unit.h {
        width: var(--seven);
    }
    .eight.unit.h {
        width: var(--eight);
    }
    .nine.unit.h {
        width: var(--nine);
    }
    .ten.unit.h {
        width: var(--ten);
    }
    .eleven.unit.h {
        width: var(--eleven);
    }
    .twelve.unit.h {
        width: var(--twelve);
    }
    .thirteen.unit.h {
        width: var(--thirteen);
    }
    .fourteen.unit.h {
        width: var(--fourteen);
    }
    
    .small.unit.h {
        width: var(--gutter);
    }
    .one.small.unit.h {
        width: calc(var(--one) - var(--gutter));
    }
    .two.small.unit.h {
        width: calc(var(--two) - var(--gutter));
    }
    .three.small.unit.h {
        width: calc(var(--three) - var(--gutter));
    }
    .four.small.unit.h {
        width: calc(var(--four) - var(--gutter));
    }
    .five.small.unit.h {
        width: calc(var(--five) - var(--gutter));
    }
    .six.small.unit.h {
        width: calc(var(--six) - var(--gutter));
    }
    .seven.small.unit.h {
        width: calc(var(--seven) - var(--gutter));
    }
    
    .half.unit.h {
        width: var(--half);
    }
    .one.half.unit.h {
        width: calc(var(--one) + var(--half));
    }
    .two.half.unit.h {
        width: calc(var(--two) + var(--half));
    }
    .three.half.unit.h {
        width: calc(var(--three) + var(--half));
    }
    .four.half.unit.h {
        width: calc(var(--four) + var(--half));
    }
    .five.half.unit.h {
        width: calc(var(--five) + var(--half));
    }
    .six.half.unit.h {
        width: calc(var(--six) + var(--half));
    }
}

@media (max-width: 595pt) {
    
    div.container.a4 {
        width: 81.34453782vw;
    }
    .row {
        flex-direction: column;
    }
    div:not(.body) > .row > .column:not(:first-child) {
        margin-top: var(--half);
    }

}

@media (min-width: 596pt) {

    .column:last-child:nth-child(2) {
        margin-left: 24pt
    }
    
    /* Rows */
    
    .one.unit.row {
        min-height: var(--one);
    }
    .two.unit.row {
        min-height: var(--two);
    }
    .three.unit.row {
        min-height: var(--three);
    }
    .four.unit.row {
        min-height: var(--four);
    }
    .five.unit.row {
        min-height: var(--five);
    }
    .six.unit.row {
        min-height: var(--six);
    }
    .seven.unit.row {
        min-height: var(--seven);
    }
    .eight.unit.row {
        min-height: var(--eight);
    }
    .nine.unit.row {
        min-height: var(--nine);
    }
    .ten.unit.row {
        min-height: var(--ten);
    }
    .eleven.unit.row {
        min-height: var(--eleven);
    }
    .twelve.unit.row {
        min-height: var(--twelve);
    }
    .thirteen.unit.row {
        min-height: var(--thirteen);
    }
    .fourteen.unit.row {
        min-height: var(--fourteen);
    }
    
    .one.small.unit.row {
        min-height: calc(var(--one) - var(--gutter));
    }
    .two.small.unit.row {
        min-height: calc(var(--two) - var(--gutter));
    }
    .three.small.unit.row {
        min-height: calc(var(--three) - var(--gutter));
    }
    .four.small.unit.row {
        min-height: calc(var(--four) - var(--gutter));
    }
    .five.small.unit.row {
        min-height: calc(var(--five) - var(--gutter));
    }
    .six.small.unit.row {
        min-height: calc(var(--six) - var(--gutter));
    }
    .seven.small.unit.row {
        min-height: calc(var(--seven) - var(--gutter));
    }
    
    .half.unit.row {
        min-height: var(--half);
    }
    .one.half.unit.row {
        min-height: calc(var(--one) + var(--half));
    }
    .two.half.unit.row {
        min-height: calc(var(--two) + var(--half));
    }
    .three.half.unit.row {
        min-height: calc(var(--three) + var(--half));
    }
    .four.half.unit.row {
        min-height: calc(var(--four) + var(--half));
    }
    .five.half.unit.row {
        min-height: calc(var(--five) + var(--half));
    }
    .six.half.unit.row {
        min-height: calc(var(--six) + var(--half));
    }
}
