/* Variables */

:root {
    --one: 57pt;
    --two: calc(var(--one) * 2);
    --three: calc(var(--one) * 3);
    --four: calc(var(--one) * 4);
    --five: calc(var(--one) * 5);
    --six: calc(var(--one) * 6);
    --seven: calc(var(--one) * 7);
    --eight: calc(var(--one) * 8);
    --nine: calc(var(--one) * 9);
    --ten: calc(var(--one) * 10);
    --eleven: calc(var(--one) * 11);
    --twelve: calc(var(--one) * 12);
    --thirteen: calc(var(--one) * 13);
    --fourteen: calc(var(--one) * 14);
    --gutter: 13pt;
    --half: calc(var(--one) / 2);
}

/* Reset margins and padding */

div {
    margin: 0;
    padding: 0;
}

/* Container */

div.container {
    display: flex;
    flex-direction: column;
}

div.container.a4 {
    position: relative;
    width: 484pt;
    margin: 0 auto;
}

div.container.width {
    margin: 0 var(--one);
}

/* Basic grid */

.row {
    display: flex;
    flex-direction: row;
}

.persistent.row {
    flex-direction: row;
}

.column, .columns {
    margin: 0;
}

@media (max-width: 595pt) {
    
    div.container.a4 {
        width: calc(484 / 595 * 100vw);
    }
    .row {
        flex-direction: column;
    }
    .column {
        margin-top: var(--half);
    }
    .column:first-child, .empty.column + .column, form.row .column {
        margin-top: 0;
    }
    .row {
        margin-top: var(--half);
    }
    .row:first-child, .body .row {
        margin-top: 0;
    }
    .container .unit.column {
        width: initial;
        min-width: initial;
    }

}

@media (min-width: 595pt) {

    .row:not(form) > *:not(:first-child) {
        margin-left: var(--one);
    }
    .columns {
        column-count: 2;
        column-gap: 24pt;
        width: 100%;
        column-fill: auto;
    }
    form.row .column:not(:first-child) {
        margin-left: var(--gutter);
    }

    .column:not(.unit):last-child:nth-child(2) {
        margin-left: 24pt
    }

    /* Rows */
    
    .one.unit.row {
        min-height: var(--one);
    }
    .two.unit.row {
        min-height: var(--two);
    }
    .three.unit.row {
        min-height: var(--three);
    }
    .four.unit.row {
        min-height: var(--four);
    }
    .five.unit.row {
        min-height: var(--five);
    }
    .six.unit.row {
        min-height: var(--six);
    }
    .seven.unit.row {
        min-height: var(--seven);
    }
    .eight.unit.row {
        min-height: var(--eight);
    }
    .nine.unit.row {
        min-height: var(--nine);
    }
    .ten.unit.row {
        min-height: var(--ten);
    }
    .eleven.unit.row {
        min-height: var(--eleven);
    }
    .twelve.unit.row {
        min-height: var(--twelve);
    }
    .thirteen.unit.row {
        min-height: var(--thirteen);
    }
    .fourteen.unit.row {
        min-height: var(--fourteen);
    }
    
    .one.small.unit.row {
        min-height: calc(var(--one) - var(--gutter));
    }
    .two.small.unit.row {
        min-height: calc(var(--two) - var(--gutter));
    }
    .three.small.unit.row {
        min-height: calc(var(--three) - var(--gutter));
    }
    .four.small.unit.row {
        min-height: calc(var(--four) - var(--gutter));
    }
    .five.small.unit.row {
        min-height: calc(var(--five) - var(--gutter));
    }
    .six.small.unit.row {
        min-height: calc(var(--six) - var(--gutter));
    }
    .seven.small.unit.row {
        min-height: calc(var(--seven) - var(--gutter));
    }
    
    .one.large.unit.row {
        min-height: calc(var(--one) + var(--gutter));
    }
    .two.large.unit.row {
        min-height: calc(var(--two) + var(--gutter));
    }
    .three.large.unit.row {
        min-height: calc(var(--three) + var(--gutter));
    }
    .four.large.unit.row {
        min-height: calc(var(--four) + var(--gutter));
    }
    .five.large.unit.row {
        min-height: calc(var(--five) + var(--gutter));
    }
    .six.large.unit.row {
        min-height: calc(var(--six) + var(--gutter));
    }
    .seven.large.unit.row {
        min-height: calc(var(--seven) + var(--gutter));
    }
    
    .half.unit.row {
        min-height: var(--half);
    }
    .one.half.unit.row {
        min-height: calc(var(--one) + var(--half));
    }
    .two.half.unit.row {
        min-height: calc(var(--two) + var(--half));
    }
    .three.half.unit.row {
        min-height: calc(var(--three) + var(--half));
    }
    .four.half.unit.row {
        min-height: calc(var(--four) + var(--half));
    }
    .five.half.unit.row {
        min-height: calc(var(--five) + var(--half));
    }
    .six.half.unit.row {
        min-height: calc(var(--six) + var(--half));
    }
    
    /* Columns */

    .one.unit.column {
        min-width: var(--one);
        width: var(--one);
    }
    .two.unit.column {
        min-width: var(--two);
        width: var(--two);
    }
    .three.unit.column {
        min-width: var(--three);
        width: var(--three);
    }
    .four.unit.column {
        min-width: var(--four);
        width: var(--four);
    }
    .five.unit.column {
        min-width: var(--five);
        width: var(--five);
    }
    .six.unit.column {
        min-width: var(--six);
        width: var(--six);
    }
    .seven.unit.column {
        min-width: var(--seven);
        width: var(--seven);
    }
    .eight.unit.column {
        min-width: var(--eight);
        width: var(--eight);
    }
    .nine.unit.column {
        min-width: var(--nine);
        width: var(--nine);
    }
    .ten.unit.column {
        min-width: var(--ten);
        width: var(--ten);
    }
    .eleven.unit.column {
        min-width: var(--eleven);
        width: var(--eleven);
    }
    .twelve.unit.column {
        min-width: var(--twelve);
        width: var(--twelve);
    }
    .thirteen.unit.column {
        min-width: var(--thirteen);
        width: var(--thirteen);
    }
    .fourteen.unit.column {
        min-width: var(--fourteen);
        width: var(--fourteen);
    }

    .small.unit.column {
        min-width: var(--gutter);
        max-width: var(--gutter);
    }
    .one.small.unit.column {
        min-width: calc(var(--one) - var(--gutter));
        width: calc(var(--one) - var(--gutter));
    }
    .two.small.unit.column {
        min-width: calc(var(--two) - var(--gutter));
        width: calc(var(--two) - var(--gutter));
    }
    .three.small.unit.column {
        min-width: calc(var(--three) - var(--gutter));
        width: calc(var(--three) - var(--gutter));
    }
    .four.small.unit.column {
        min-width: calc(var(--four) - var(--gutter));
        width: calc(var(--four) - var(--gutter));
    }
    .five.small.unit.column {
        min-width: calc(var(--five) - var(--gutter));
        width: calc(var(--five) - var(--gutter));
    }
    .six.small.unit.column {
        min-width: calc(var(--six) - var(--gutter));
        width: calc(var(--six) - var(--gutter));
    }
    .seven.small.unit.column {
        min-width: calc(var(--seven) - var(--gutter));
        width: calc(var(--seven) - var(--gutter));
    }
    
    .large.unit.column {
        min-width: var(--gutter);
        max-width: var(--gutter);
    }
    .one.large.unit.column {
        min-width: calc(var(--one) + var(--gutter));
        width: calc(var(--one) + var(--gutter));
    }
    .two.large.unit.column {
        min-width: calc(var(--two) + var(--gutter));
        width: calc(var(--two) + var(--gutter));
    }
    .three.large.unit.column {
        min-width: calc(var(--three) + var(--gutter));
        width: calc(var(--three) + var(--gutter));
    }
    .four.large.unit.column {
        min-width: calc(var(--four) + var(--gutter));
        width: calc(var(--four) + var(--gutter));
    }
    .five.large.unit.column {
        min-width: calc(var(--five) + var(--gutter));
        width: calc(var(--five) + var(--gutter));
    }
    .six.large.unit.column {
        min-width: calc(var(--six) + var(--gutter));
        width: calc(var(--six) + var(--gutter));
    }
    .seven.large.unit.column {
        min-width: calc(var(--seven) + var(--gutter));
        width: calc(var(--seven) + var(--gutter));
    }

    .half.unit.column {
        min-width: var(--half);
        width: var(--half);
    }
    .one.half.unit.column {
        min-width: calc(var(--one) + var(--half));
        width: calc(var(--one) + var(--half));
    }
    .two.half.unit.column {
        min-width: calc(var(--two) + var(--half));
        width: calc(var(--two) + var(--half));
    }
    .three.half.unit.column {
        min-width: calc(var(--three) + var(--half));
        width: calc(var(--three) + var(--half));
    }
    .four.half.unit.column {
        min-width: calc(var(--four) + var(--half));
        width: calc(var(--four) + var(--half));
    }
    .five.half.unit.column {
        min-width: calc(var(--five) + var(--half));
        width: calc(var(--five) + var(--half));
    }
    .six.half.unit.column {
        min-width: calc(var(--six) + var(--half));
        width: calc(var(--six) + var(--half));
    }

}
