@media (max-width: 911pt) {
    .six.unit.column {
        max-width: 342pt;
    }
    #splash-intro-content {
        flex-direction: column;
    }
    .container.width .intro-collapses {
        min-width: initial;
        width: 100%;
    }
    #intro-social {
        width: 100%;
        margin-left: 0;
    }
    #splash-intro-content .unit.h:not(:last-child) {
        margin-right: 0;
    }
    #splash-intro-content > .column:not(:first-child) {
        margin-top: var(--half);
    }
}

@media (max-width: 911pt) and (min-width: 596pt) {
    #intro-social {
        min-height: calc(var(--one) + var(--half));
    }
}

@media (max-width: 595pt) {
    #splash-hack-cambridge-logo-object {
        max-width: 139pt;
    }
    #splash-signup-form {
        flex-direction: row;
    }
    #splash-signup-form .four.small.unit.column {
        flex-basis: calc(var(--four) - var(--gutter));
        flex-grow: 1;
        flex-shrink: 0;
    }
    #splash-signup-form .small.unit.column {
        flex-basis: var(--gutter);
        flex-shrink: 0;
    }
    #splash-signup-form .one.unit.column {
        flex-basis: var(--one);
        flex-shrink: 0;
    }
    form.row, form.row .unit.column {
        width: 100%;
        min-width: 0;
    }
    form.row .unit.column.submit {
        width: var(--one);
    }
    @media (min-width: 457px) {
        form.row .column:not(:first-child) {
            margin-left: var(--gutter);
        }
    }
}

@media (max-width: 342pt) {
    #splash-signup-form {
        flex-direction: column;
    }
    #splash-signup-form .four.small.unit.h {
        flex-basis: auto;
        flex-grow: 0;
    }
    #splash-signup-form .small.unit.h:not(.four) {
        flex-grow: 0;
    }
    #splash-signup-form .one.unit.h {
        flex-basis: auto;
        flex-grow: 0;
        max-width: var(--one);
    }
    div.container.width {
        margin: 0 calc(57 / 342 * 100vw);
    }
    form.row .column:not(:first-child) {
        margin-top: var(--gutter);
    }
}

:root {
    --cube-size: 200px;
    --from-top-needed: 50px; // the difference in height between a rotated and non-rotated cube
}

.cube-container {
  width: inherit;
  height: inherit;
  position: relative;
  padding: none;
  border: none;
  margin: auto;
  margin-top: var(--from-top-needed);
}

#cube-logo {
  width: var(--cube-size);
  height: var(--cube-size);
  position: relative;
  margin: auto;
  transform-style: preserve-3d;
}

#cube-logo figure {
  margin: 0;
  width:  var(--cube-size);
  height: var(--cube-size);
  display: block;
  position: absolute;
  border: none;
}

#cube-logo .cube-top.front,
#cube-logo .cube-top.back,
#cube-logo .cube-top.right,
#cube-logo .cube-top.left
{
    height: calc(var(--cube-size)/2);
}

#cube-logo .cube-top.top
{
    background: var(--red);
}

#cube-logo .cube-top.front,
#cube-logo .cube-top.back,
#cube-logo .cube-top.right,
#cube-logo .cube-top.left,
#cube-logo .cube-top.bottom
{
    background: rgba(255, 255, 255, .95);
}

#cube-logo .cube-bottom.front,
#cube-logo .cube-bottom.back,
#cube-logo .cube-bottom.right,
#cube-logo .cube-bottom.left
{
    height: calc(var(--cube-size)/2);
    transform: translateY( calc(var(--cube-size)/2) );
}

#cube-logo .cube-bottom.front,
#cube-logo .cube-bottom.back,
#cube-logo .cube-bottom.right,
#cube-logo .cube-bottom.left,
#cube-logo .cube-bottom.top,
#cube-logo .cube-bottom.bottom
{
    color: white;
    background: black;
}

#cube-logo .front.cube-top  { transform: translateZ(calc(var(--cube-size)/2)) rotateY(   0deg ); }
#cube-logo .back.cube-top   { transform: translateZ(calc(var(--cube-size)/-2)) rotateX( 180deg ); }
#cube-logo .right.cube-top  { transform: translateX(calc(var(--cube-size)/2)) rotateY(  90deg ); }
#cube-logo .left.cube-top   { transform: translateX(calc(var(--cube-size)/-2)) rotateY( -90deg ); }
#cube-logo .top.cube-top    { transform: translateY( calc(var(--cube-size)/-2) ) rotateX(  90deg ); }
#cube-logo .bottom.cube-top { transform: rotateX( -90deg ); }

#cube-logo .front.cube-bottom  { transform: translateZ(calc(var(--cube-size)/2)) translateY( calc(var(--cube-size)/2) ) rotateY(   0deg ); }
#cube-logo .back.cube-bottom   { transform: translateZ(calc(var(--cube-size)/-2)) translateY( calc(var(--cube-size)/2) ) rotateX( 180deg ); }
#cube-logo .right.cube-bottom  { transform: translateX(calc(var(--cube-size)/2)) translateY( calc(var(--cube-size)/2) ) rotateY(  90deg ); }
#cube-logo .left.cube-bottom   { transform: translateX(calc(var(--cube-size)/-2)) translateY( calc(var(--cube-size)/2) ) rotateY( -90deg ); }
#cube-logo .top.cube-bottom    { transform: rotateX(  90deg ); }
#cube-logo .bottom.cube-bottom { transform: translateY( calc(var(--cube-size)/2) ) rotateX( -90deg ); }

#cube-logo {
  animation-duration: 1.35s;
  animation-name: cube-introduction;
  transition-timing-function: cubic-bezier(0.45, 0.05, 0.35, 1);
  animation-fill-mode: forwards;
}

#splash-intro {
    animation-duration: 1.35s;
    animation-name: background-introduction;
    animation-fill-mode: forwards;
}

@keyframes cube-introduction {
  0% {
      transform: none;
  }

  50% {
      transform: none;
  }

  75% {
    transform: rotateZ(-45deg);
  }

  100% {
    transform: rotateY( 55deg ) rotateZ( -45deg );
  }
}

@keyframes background-introduction {
    0% {
        background: white;
    }

    24.99% {
        background: white;
    }
    25% {
        background: black;
    }

    49.99% {
        background: black;
    }
    50% {
        background: red;
    }

    99.99% {
        background: red;
    }
    100% {
        background: white;
    }
}
