#intro-social img:hover {
    border-bottom: 1px solid var(--accent-color);
}
#intro-social img:active {
    border-bottom: 1px solid var(--secondary-color);
}
#splash-hack-cambridge-logo-object {
    --min-width: var(--two);
}

@media (max-width: 595pt) {
    #splash-hack-cambridge-logo-object {
        max-width: var(--two);
    }
}

#mlh-trust-badge {
    display: block;
    max-width: 100px;
    min-width: 60px;
    position: fixed;
    right: var(--one);
    top: 0;
    width: 10%;
    z-index: 10000;

    img {
        width: 100%
    }
}
#mlh-trust-badge::after {
    display: none;
}

@media (max-width: 342pt) {
    div.container.width {
        margin: 0 calc(57 / 342 * 100vw);
    }
}

@media (pointer: coarse) {
    .submit {
        display: none;
    }
}