#sponsorship-university-of-cambridge-logo-object {
    height: var(--half);
    width: initial;
    flex-basis: var(--half);
}
#sponsorship-university-of-cambridge-text {
    flex: auto;
    min-width: 193.359375px;
}
#sponsorship-tiers .columns h4 {
    break-before: column;
}
