#sponsorship-hack-cambridge-logo {
    display: flex;
}
#sponsorship-hack-cambridge-logo-object {
    width: 108.3242pt;
    height: 93.8102pt;
}
#sponsorship-hack-cambridge-wordmark {
    font-size: 21.3953315789pt;
    margin-top: 28.6354569254pt;
    margin-left: 13.1663578947pt;
}
#sponsorship-university-of-cambridge-logo-object {
    height: 28.5pt;
    margin-right: 24pt;
    flex-basis: 28.5pt;
}
#sponsorship-university-of-cambridge-text {
    flex: auto;
}

@media (max-width: 595pt) {
    #sponsorship-university-of-cambridge-endorsement {
        flex-direction: row;
    }
    #sponsorship-pitch-image {
        height: 215pt;
    }
}

@media (max-width: 371.5pt) {
    #sponsorship-university-of-cambridge-endorsement {
        flex-direction: column;
        align-items: flex-start;
    }
    #sponsorship-university-of-cambridge-logo {
        margin-right: 0;
        margin-bottom: 24pt;
        max-height: 28.5pt;
        height: initial;
    }
}

@media (max-width: 414px) {
    #sponsorship-hack-cambridge-logo-object {
        width: 34.8845108696vw;
        height: 30.2121074879vw;
    }
    #sponsorship-hack-cambridge-wordmark {
        font-size: 6.8906060739vw;
        margin-top: 9.2223697238vw;
        margin-left: 4.2403727914vw;
    }
}