/* Webkit font scaling */

html {
    -webkit-text-size-adjust: 100%;
}

/* Colour variables */

:root {
    --red: rgb(235,51,0);
}

/* Reset margins and padding */

h1, h2, h3, h4, h5, p, ul, li, input, form, body, button {
    margin: 0;
    padding: 0;
}

/* Sections */

section, header, footer {
    --color-1: white;
    --color-2: black;
    --color-3: var(--red);
}
section.black, header.black, footer.black {
    --color-1: black;
    --color-2: white;
    --color-3: var(--red);
}
section.red, header.red, footer.red {
    --color-1: var(--red);
    --color-2: white;
    --color-3: black;
}
section, header, footer {
    --primary-color: var(--color-1);
    --secondary-color: var(--color-2);
    --accent-color: var(--color-3);
    background-color: var(--primary-color);
    color: var(--secondary-color);
    padding: 28.5pt 0;
    position: relative;
    z-index: 1;
    overflow: hidden;
    box-sizing: border-box;
}
section {
    border-top: 1pt solid var(--primary-color);
}
section:last-of-type:not(.black):not(.red) {
    border-bottom: 1pt solid var(--secondary-color);
}
section:not(.black):not(.red) + section:not(.black):not(.red) {
    border-top: 1pt solid var(--secondary-color);
}
section.black + section.home-link, section.red + section.home-link {
    border-top: 1pt solid var(--primary-color);
}
header, :not(header) + main section:first-of-type {
    padding-top: var(--one);
}
section.image {
    z-index: -1;
    height: var(--base);
}

/* Unavailable label */

div.unavailable *:not(div):not(.label):not(li):not(span) {
    opacity: 0.5;
    z-index: 0;
}
div.unavailable .label {
    z-index: 1;
    display: block;
}
div.unavailable .label, .error {
    color: var(--accent-color);
}

/* Link area */

section.links:hover, section.links:hover * {
    --primary-color: var(--color-2);
    --secondary-color: var(--color-3);
    --accent-color: var(--color-1);
    border-color: var(--accent-color);
}

/* Character styles */

.secondary {
    color: var(--accent-color);
}
.pixel:not(:placeholder-shown), .pixel:not(:placeholder-shown) *, .label {
    font-family: "PxGrotesk-Screen", Helvetica, Arial, sans-serif;
    font-synthesis: none;
}
.shadow {
    text-shadow: 3pt -3pt var(--accent-color);
}

/* Paragraph styles */

.tight {
    line-height: 110%;
}

/* Flexboxes */

.centred {
    align-items: center;
}

/* Animation */

section, a, a::after, svg, input, button, .secondary {
    transition-timing-function: cubic-bezier(0.45, 0.05, 0.35, 1);
    transition-property: color, border-color, caret-color, background-color, filter;
    transition-duration: 0.25s;
}

/* Fonts */

html * {
    font-family: "PxGrotesk", Helvetica, Arial, sans-serif;
}

/* Paragraph styles */

#hack-cambridge-wordmark {
    line-height: 95%;
}
h1, h2, h2 * {
    font-size: 36pt;
    line-height: 95%;
    hyphens: auto;
    -webkit-hyphens: auto;
}
h3 {
    font-weight: lighter;
    font-size: 20pt;
    line-height: 120%;
}
h4 {
    font-size: 14pt;
    font-weight: lighter;
    border-top: solid var(--secondary-color) 1pt;
    padding-top: 2pt;
}
h4:not(:first-child) {
    margin-top: 20pt;
}
h4:not(:last-child) {
    margin-bottom: 10pt;
}
h5, h5 span {
    font-size: 16pt;
    line-height: 120%;
}
p {
    font-size: 11pt;
}
th {
    font-size: 11pt;
}
td {
    font-size: 11pt;
}
label {
    font-size: 11pt;
}
li {
    font-size: 11pt;
    line-height: 1.1;
}
select {
    font-size: 11pt;
    padding: 1pt 3pt;
}
textarea {
    font-size: 11pt;
    padding: 3pt;
}
*:not(span) > a {
    font-size: 11pt;
}
input {
    font-size: 11pt;
    border-radius: 0;
}
input[type="email"] {
    padding: 1pt 0;
}
::-webkit-file-upload-button {
    background: var(--primary-color);
    color: var(--secondary-color);
    border: 1pt solid var(--secondary-color);
    font-family: "PxGrotesk", Helvetica, Arial, sans-serif;
    padding: 1pt 3pt;
}
button {
    font-size: 11pt;
    border-radius: 0;
    padding: 1pt 3pt;
}
p, *:not(h5) a {
    line-height: 1.4;
}
:not(.content) > :not(h4):not(p) + p:not(:first-child), :not(h4):not(ul) + ul:not(:first-child) {
    margin-top: 10pt;
}
p:not(:last-child), ul:not(:last-child) {
    margin-bottom: 10pt;
}
li:not(:last-child) {
    margin-bottom: 6pt;
}

/* Lists */

li {
    list-style-type: none;
    list-style-position: outside;
}

/* Anchors */

a:not(.logo) {
    color: var(--accent-color);
    text-decoration: none;
}
a::after {
    white-space: pre;
}
a:not(.logo)::after {
    content: " →";
    color: var(--primary-color);
}
a[rel="external"]::after {
    content:" →";
}
a[rel="prev"]::after {
    content:" ←";
}
a[rel="next"]::after {
    content:" →";
}

a:hover {
    color: var(--secondary-color);
}
a:hover::after {
    color: var(--accent-color);
    visibility: visible;
}

a:active {
    color: var(--secondary-color);
}
a:active::after {
    color: var(--secondary-color);
    visibility: visible;
}

/* Objects, images, and figures */

object {
    min-width: var(--two);
}

.icons {
    margin: calc(-1 * var(--gutter) / 2);
}

svg.icon {
    color: var(--accent-color);
    fill: currentColor;
    width: var(--half);
    height: var(--half);
}

a:hover svg.icon, a:active svg.icon {
    filter: saturate(0) contrast(3);
}

section.black a:hover svg.icon {
    filter: saturate(0) contrast(3) invert(1);
}

section.red svg.icon {
    filter: invert(0);
}

section.red a:hover svg.icon {
    filter: invert(1);
}

section.image .wrapper {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
}

 section.image .wrapper figure {
    background-repeat: no-repeat;
    position: absolute;
    background-position: center top;
    width: 100%;
    height: 100%;
    margin: 0 auto;
    background-size: cover;
}

table {
    width: 100%;
    border-spacing: var(--gutter) 0;
    margin: calc(var(--gutter) * -1);
}
th {
    text-align: left;
}
table, th, td {
    padding: 0;
}
td:not(:first-child) {
    margin-left: var(--gutter);
}
/* Input */

input, button {
    border-width: 1pt;
    border-style: solid;
    border-color: rgba(255,255,255,0);
    border-left: none;
    border-right: none;
    background-color: unset;
    outline: none;
    color: var(--secondary-color);
}

input[type="email"], input[type="text"], input[type="number"] {
    border-bottom: 1pt solid var(--secondary-color);
    width: 100%;
}

input[type="email"]:-webkit-autofill {
    -webkit-text-fill-color: var(--primary-color);
    -webkit-box-shadow: 0 0 0px 1000px var(--secondary-color) inset;
    border-bottom: 1pt solid var(--accent-color);
}

input::placeholder {
    color: var(--accent-color);
}

::-moz-placeholder {
    opacity: 1;
}

input[placeholder]{
    text-overflow: ellipsis;
}

input:placeholder-shown {
    border-bottom: 1pt solid var(--accent-color);
}

input[type="submit"], input[type="checkbox"], button{
    background-color: unset;
    color: var(--accent-color);
    border: 1pt solid var(--accent-color);
}

select{
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border-radius: 0;
}

textarea {
    resize: none;
    width: calc(100% - 3pt * 2);
    height: var(--one);
    border: 1pt solid var(--secondary-color);
}

fieldset {
    border-width: 0;
    padding: 0;
}

legend {
    padding: 0;
    font-size: 14pt;
    font-weight: lighter;
    margin-bottom: var(--gutter);
}

input[type="submit"]:hover:not([disabled]), button:hover:not([disabled]){
    background-color: unset;
    color: var(--secondary-color);
    border: 1pt solid var(--secondary-color);
}

input[type="submit"]:active:not([disabled]), button:active:not([disabled]){
    background-color: var(--secondary-color);
    color: var(--primary-color);
    border: 1pt solid var(--secondary-color);
}
input[disabled], button[disabled] {
    opacity: 0.5;
}

.logo.mega, .logo.kilo {
    max-height: var(--one);
}
.logo.giga {
    max-height: calc(var(--one) + var(--half));
}
.logo.unit.column {
    flex-basis: var(--base);
    min-width: min-content;
    flex-grow: 0
}
.logo.unit.column.grows {
    max-width: var(--second-base);
}

#hack-cambridge-logo-object {
    width: var(--two);
}
#hack-cambridge-wordmark, #hack-cambridge-wordmark * {
    font-size: 24pt;
    margin-bottom: 20pt;
}
/* Media queries */

@media (min-width: 596pt) {
    
    div.unavailable .label {
        text-align: right;
    }
}

@media (max-width: 595pt) {
    
    /* Scale fonts */
    
    h2 {
        font-size: calc(36 / 595 * 100vw);
    }
    h2 * {
        font-size: calc(36 / 595 * 100vw);
    }
    h3 {
        font-size: calc(20 / 595 * 100vw);
    }
    h3 * {
        font-size: calc(20 / 595 * 100vw);
    }
    
    /* Extra margins for single-column layout */
    
    .row:first-child .column:first-child h4:first-child {
        margin-top: 0;
    }
    .container.width h4:first-child {
        margin-top: 0;
    }
    
    /* Half-row margins between container children */
    
    div:not(.content) > *:not(:empty) + .row:not(:first-child), div:not(.content) > *:not(:empty) + .column:not(:first-child) {
        margin-top: 0;
    }
    
    /* Minimum image size */
    
    section.image {
        min-height: 215pt;
    }
    
}

@media (max-width: 416pt) {
    
    /* Stop scaling font */
    
    h3 {
        font-size: calc(20 / 595 * 416pt);
    }
    h3 * {
        font-size: calc(20 / 595 * 416pt);
    }
}

@media (max-width: 496pt) {
    
    /* Stop scaling font */
    
    h2 {
        font-size: calc(36 / 595 * 496pt);
    }
    h2 * {
        font-size: calc(36 / 595 * 496pt);
    }
    
    /* Stop scaling shadows */
    
    .shadow {
        text-shadow: 2.5pt -2.5pt var(--accent-color);
    }
}

@media (pointer: coarse), (pointer: none) {
    input[type="submit"] {
        display: none;
    }
}
@media (hover: none) {
    a::after {
        display: none;
    }
}
