extends ../../layouts/a4
block mainContent
  - title = 'Team Application'
  if error
    section(color='red' grid='rows')
      p(rows='0.5')= error
  section
    form(action='team' method='POST' grid='rows')
      h1(rows='1.0') Team Application
      p(rows='0.5') Enter your teammates’ application IDs to confirm your team.
      include team-form
      div(rows='0.5')
        button(type='submit') Submit
      p(rows='0.5') You can do this later if you wish.
  